.THIS {
    font-style: italic;
    // font-size: @h3Size;

    color: @white;
    background: @bgColor;

    @import "../_base/components-common";

    .slds-p-vertical_large {
        margin-bottom: 0;
    }

    a {
        &:link,
        &:visited {
            font-weight: bold;

            color: @white;
        }

        &:hover,
        &:active {
            color: @white;
        }
        @media screen and (max-width: 767px) {
            font-size: 0.85rem;
        }
    }
}
