/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slds-form-element__label,
.THIS .slds-textarea,
.THIS option,
.THIS .slds-form-element__icon {
  font-size: 1rem;
}
.THIS .slds-form-element__icon {
  padding: 0;
  vertical-align: text-bottom;
}
.THIS .slds-combobox,
.THIS .slds-combobox * {
  cursor: pointer;
}
.THIS lightning-picklist {
  margin-bottom: 1rem;
}
