/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS hr {
  margin: 1em 0;
}
.THIS .event .date {
  text-transform: uppercase;
}
.THIS .event .date .dow {
  font-size: 3.5rem;
  line-height: 3rem;
  margin-left: -0.5rem;
  letter-spacing: -0.5rem;
}
.THIS .event .date .month {
  line-height: 1rem;
  margin-left: 0.25rem;
}
