// ===================
// Styles shared between fixed nav layout components
// Peak_Layout_FixedNav_1_12_1
// Peak_Layout_FixedNav_1_21_1
// ===================
@media (min-width: @screen-md-min) {
    .slds-medium-size--4-of-12 {
        > div {
            width: 100%;
        }
    }

    .fix-nav {
        .slds-medium-size--4-of-12 {
            section {
                position: fixed;
                top: 0;
            }
        }
    }

    /*.fixed-col *
    {
        width: inherit;
    }
    */
}
