/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS button {
  transition: all 0.33s !important;
}
.THIS .slds-button_brand,
.THIS .slds-button--brand,
.THIS .uiButton--brand,
.THIS .slds-button_neutral,
.THIS .slds-button--neutral,
.THIS .slds-button_inverse {
  /*
	slds-button--neutral
	slds-button--brand
	slds-button--inverse
	*/
  font-size: 100%;
  transition: all 0.33s;
}
.THIS .slds-button_inverse:link,
.THIS .slds-button_inverse:visited {
  color: token(inverseTextColor);
}
.THIS .slds-button_inverse:hover,
.THIS .slds-button_inverse:active {
  color: token(inverseTextColor);
}
.THIS .CCEVENTSLCSVNSUMMITS_Events_Header .slds-button,
.THIS .CCEVENTSLCSVNSUMMITS_Event_Filter .slds-button,
.THIS .CCNEWSLCSVNSUMMITS_News_DisplayMode .slds-button {
  line-height: 2rem;
  padding: 4px 16px;
}
.THIS.Outline .slds-button,
.THIS.Outline .uiButton--brand {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
  border-radius: 5px;
}
.THIS.Outline .slds-button_neutral,
.THIS.Outline .slds-button--neutral,
.THIS.Outline .oneActionsRibbon li.slds-button--neutral > a {
  color: #337a73;
}
.THIS.Outline .slds-button_brand,
.THIS.Outline .slds-button--brand,
.THIS.Outline .uiButton--brand {
  color: token(textColor);
}
.THIS.Outline .slds-button_brand:hover,
.THIS.Outline .slds-button--brand:hover,
.THIS.Outline .uiButton--brand:hover,
.THIS.Outline .slds-button_brand:active,
.THIS.Outline .slds-button--brand:active,
.THIS.Outline .uiButton--brand:active {
  background-color: #a6edd9;
  border-color: #a6edd9;
}
.THIS.Outline .slds-button_icon-container.slds-is-selected,
.THIS.Outline .slds-button--icon-container.slds-is-selected,
.THIS.Outline .slds-button_icon-border.slds-is-selected,
.THIS.Outline .slds-button--icon-border.slds-is-selected,
.THIS.Outline .slds-button_icon-border-filled.slds-is-selected,
.THIS.Outline .slds-button_icon-border-inverse.slds-is-selected {
  background-color: #368175;
  border-color: #368175;
}
.THIS.Shield .slds-button,
.THIS.Shield .slds-button_brand,
.THIS.Shield .slds-button--brand,
.THIS.Shield .uiButton--brand {
  font-weight: 400;
  border-radius: 0;
  text-transform: none;
}
.THIS.Perspective button,
.THIS.Perspective .slds-button,
.THIS.Perspective .uiButton--brand {
  border-radius: 0 !important;
  text-transform: none;
}
.THIS.Perspective .slds-button_brand,
.THIS.Perspective .slds-button--brand,
.THIS.Perspective .uiButton--brand {
  background-color: #fff;
  border-color: #5902d2;
  color: #5902d2;
}
.THIS.Perspective .slds-button_brand:hover,
.THIS.Perspective .slds-button--brand:hover,
.THIS.Perspective .uiButton--brand:hover,
.THIS.Perspective .slds-button_brand:active,
.THIS.Perspective .slds-button--brand:active,
.THIS.Perspective .uiButton--brand:active {
  background-color: #5902d2;
  color: #fff;
}
.THIS.Perspective .forceCommunityCreateRecordForm .button,
.THIS.Perspective .forceCommunityAskCommunity.askCommunityBtn {
  border: 1px solid #5902d2;
}
.THIS.Intra button,
.THIS.Intra .slds-button,
.THIS.Intra .uiButton--brand {
  border-radius: 0 !important;
}
.THIS.Intra .slds-button_brand,
.THIS.Intra .slds-button--brand,
.THIS.Intra .uiButton--brand {
  font-weight: 400;
  border: 1px solid token(brandColor);
}
.THIS.Intra .slds-button_brand,
.THIS.Intra .slds-button--brand,
.THIS.Intra .uiButton--brand,
.THIS.Intra .slds-button_brand:hover,
.THIS.Intra .slds-button--brand:hover,
.THIS.Intra .uiButton--brand:hover,
.THIS.Intra .slds-button_brand:active,
.THIS.Intra .slds-button--brand:active,
.THIS.Intra .uiButton--brand:active,
.THIS.Intra .slds-button_brand:focus,
.THIS.Intra .slds-button--brand:focus,
.THIS.Intra .uiButton--brand:focus {
  background-color: #fff;
  color: token(brandColor);
}
.THIS.Intra a.slds-button:hover,
.THIS.Intra a.slds-button:active,
.THIS.Intra a.slds-button:focus {
  text-decoration: none;
}
.THIS.Intra .slds-button_neutral,
.THIS.Intra .slds-button--neutral {
  color: #757575;
}
.THIS.Trainer button,
.THIS.Trainer .slds-button,
.THIS.Trainer .uiButton--brand {
  font-weight: 400;
  text-transform: none;
  border-radius: 0 !important;
}
.THIS button[disabled],
.THIS button:disabled,
.THIS .slds-button_brand[disabled],
.THIS .slds-button_brand:disabled,
.THIS .slds-button--brand[disabled],
.THIS .slds-button--brand:disabled,
.THIS .slds-button_neutral[disabled],
.THIS .slds-button_neutral:disabled,
.THIS .slds-button--neutral[disabled],
.THIS .slds-button--neutral:disabled,
.THIS button[disabled]:hover,
.THIS button:disabled:hover,
.THIS .slds-button_brand[disabled]:hover,
.THIS .slds-button_brand:disabled:hover,
.THIS .slds-button--brand[disabled]:hover,
.THIS .slds-button--brand:disabled:hover,
.THIS .slds-button_neutral[disabled]:hover,
.THIS .slds-button_neutral:disabled:hover,
.THIS .slds-button--neutral[disabled]:hover,
.THIS .slds-button--neutral:disabled:hover {
  background-color: #fff;
  border-color: #bdbdbd;
  color: #bdbdbd;
}
.THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__pager button[disabled] .slds-icon_container svg {
  fill: #bdbdbd !important;
}
.THIS.Outline button[disabled],
.THIS.Outline button:disabled,
.THIS.Outline .slds-button_brand[disabled],
.THIS.Outline .slds-button_brand:disabled,
.THIS.Outline .slds-button--brand[disabled],
.THIS.Outline .slds-button--brand:disabled,
.THIS.Outline .slds-button_neutral[disabled],
.THIS.Outline .slds-button_neutral:disabled,
.THIS.Outline .slds-button--neutral[disabled],
.THIS.Outline .slds-button--neutral:disabled,
.THIS.Outline button[disabled]:hover,
.THIS.Outline button:disabled:hover,
.THIS.Outline .slds-button_brand[disabled]:hover,
.THIS.Outline .slds-button_brand:disabled:hover,
.THIS.Outline .slds-button--brand[disabled]:hover,
.THIS.Outline .slds-button--brand:disabled:hover,
.THIS.Outline .slds-button_neutral[disabled]:hover,
.THIS.Outline .slds-button_neutral:disabled:hover,
.THIS.Outline .slds-button--neutral[disabled]:hover,
.THIS.Outline .slds-button--neutral:disabled:hover {
  background-color: #eee;
  border-color: #eee;
  color: #848b8e;
}
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__pager button[disabled] .slds-icon_container svg {
  fill: #848b8e !important;
}
.THIS.Outline h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}
.THIS.Outline h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.THIS.Outline h3 {
  font-size: 1.17rem;
  font-weight: 700;
}
.THIS.Outline h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.THIS.Outline p {
  font-size: 1.125rem;
  line-height: 1.6;
}
.THIS.Outline .p1 {
  font-size: 2rem;
  font-weight: 400;
}
.THIS.Outline .cSubHeadline {
  padding-top: 1.6rem;
}
.THIS.Shield h1 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Shield h1 {
    font-size: 4rem;
  }
}
.THIS.Shield h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Shield h2 {
    font-size: 3rem;
  }
}
.THIS.Shield h3 {
  font-size: 2rem;
  font-weight: 300;
}
.THIS.Shield h4 {
  font-size: 0.88rem;
  font-weight: 700;
}
.THIS.Shield p {
  font-size: 0.88rem;
  line-height: 1.6;
}
.THIS.Shield .p1 {
  font-size: 1.5rem;
}
.THIS.Shield .cShieldList {
  margin: 0;
  padding: 0;
}
.THIS.Shield .cShieldList li::before {
  content: none;
}
.THIS.Shield .cShieldList li > a::after {
  content: "\003e";
  color: token(linkColor);
  padding-left: 0.3rem;
}
.THIS.Shield .cShieldList li > a:hover::after {
  color: #000;
}
.THIS.Shield .forceCommunityTopArticleListForTopic h2 {
  font-size: 1.5rem;
}
.THIS.Shield .selfServiceSimilarQuestions h2 {
  font-size: 1.9rem;
}
.THIS.Shield .cSubHeadline {
  padding-top: 0.4rem;
}
.THIS.Perspective h1 {
  font-size: 3.3rem;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Perspective h1 {
    font-size: 4rem;
  }
}
.THIS.Perspective h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Perspective h2 {
    font-size: 3rem;
  }
}
.THIS.Perspective h3 {
  font-size: 1.17rem;
}
.THIS.Perspective h4 {
  font-size: 1.125rem;
}
.THIS.Perspective p {
  font-size: 1.125rem;
  line-height: 1.6;
}
.THIS.Perspective .p1 {
  font-size: 2rem;
  font-weight: 400;
}
.THIS.Intra h1,
.THIS.Intra h2,
.THIS.Intra h3 {
  font-weight: 400;
}
.THIS.Intra h1 {
  font-size: 3.3rem;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Intra h1 {
    font-size: 4rem;
  }
}
.THIS.Intra h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Intra h2 {
    font-size: 3rem;
  }
}
.THIS.Intra h3 {
  font-size: 1.17rem;
}
.THIS.Intra h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.THIS.Intra p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}
.THIS.Intra .p1 {
  font-size: 1.5rem;
}
.THIS.Trainer h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Trainer h1 {
    font-size: 4rem;
  }
}
.THIS.Trainer h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Trainer h2 {
    font-size: 3rem;
  }
}
.THIS.Trainer h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 48rem) {
  .THIS.Trainer h3 {
    font-size: 2rem;
  }
}
.THIS.Trainer h4 {
  font-size: 1.125rem;
  font-weight: 700;
}
.THIS.Trainer p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}
.THIS.Trainer .p1 {
  font-size: 1.5rem;
  font-weight: 400;
}
.THIS.Trainer .slds-text-heading_medium {
  margin-bottom: 0.5rem;
}
.THIS a:link,
.THIS a:visited {
  transition: all 0.33s;
}
.THIS a:link svg,
.THIS a:visited svg {
  fill: token(linkColor);
}
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topics a:hover,
.THIS .cSVNSUMMITS_News_Detail_Header .topic a:hover,
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topics a:active,
.THIS .cSVNSUMMITS_News_Detail_Header .topic a:active,
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topics a:focus,
.THIS .cSVNSUMMITS_News_Detail_Header .topic a:focus {
  color: token(textColor);
  text-decoration: none;
}
.THIS.Outline .cFooterLink,
.THIS.Outline .topicHeaderLink,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a,
.THIS.Outline .notInterestedLink,
.THIS.Outline .forceCommunityUserSettings .changepassword,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
  line-height: 1.7;
  padding-bottom: 2px;
  border-bottom: 1px solid #5bdebf;
}
.THIS.Outline .cFooterLink:hover,
.THIS.Outline .topicHeaderLink:hover,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:hover,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:hover,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:hover,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a:hover,
.THIS.Outline .notInterestedLink:hover,
.THIS.Outline .forceCommunityUserSettings .changepassword:hover,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top:hover,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL:hover,
.THIS.Outline .cFooterLink:active,
.THIS.Outline .topicHeaderLink:active,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:active,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:active,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:active,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a:active,
.THIS.Outline .notInterestedLink:active,
.THIS.Outline .forceCommunityUserSettings .changepassword:active,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top:active,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL:active,
.THIS.Outline .cFooterLink:focus,
.THIS.Outline .topicHeaderLink:focus,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:focus,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:focus,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:focus,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a:focus,
.THIS.Outline .notInterestedLink:focus,
.THIS.Outline .forceCommunityUserSettings .changepassword:focus,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top:focus,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL:focus {
  text-decoration: none;
  border-bottom: 1px solid token(textColor);
}
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a {
  font-weight: normal;
}
.THIS.Outline .cFeatureLink {
  color: #5bdebf;
  padding-bottom: 0.4rem;
  border-bottom: 0.25rem solid #5bdebf;
}
.THIS.Outline .cFeatureLink:hover,
.THIS.Outline .cFeatureLink:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.25rem solid #fff;
}
.THIS.Shield .peak-body a,
.THIS.Shield footer li a,
.THIS.Shield .cShieldFeatureGrid a {
  font-weight: 300;
}
.THIS.Shield .peak-body a:hover,
.THIS.Shield footer li a:hover,
.THIS.Shield .cShieldFeatureGrid a:hover,
.THIS.Shield .peak-body a:active,
.THIS.Shield footer li a:active,
.THIS.Shield .cShieldFeatureGrid a:active,
.THIS.Shield .peak-body a:focus,
.THIS.Shield footer li a:focus,
.THIS.Shield .cShieldFeatureGrid a:focus {
  color: #000;
  text-decoration: none;
}
.THIS.Shield a.slds-button,
.THIS.Shield a.slds-button_brand,
.THIS.Shield a.slds-button--brand,
.THIS.Shield a.slds-button:hover,
.THIS.Shield a.slds-button_brand:hover,
.THIS.Shield a.slds-button--brand:hover,
.THIS.Shield a.slds-button:active,
.THIS.Shield a.slds-button_brand:active,
.THIS.Shield a.slds-button--brand:active,
.THIS.Shield a.slds-button:focus,
.THIS.Shield a.slds-button_brand:focus,
.THIS.Shield a.slds-button--brand:focus {
  font-weight: 400;
}
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item button {
  color: #3d3d3d;
  text-transform: none;
}
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]),
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item a:hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]) {
  background-color: rgba(0, 0, 0, 0.1);
}
.THIS.Shield .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a {
  background-color: #fff;
  color: token(textColor);
  font-weight: 500;
  border: 1px solid token(borderColor);
  border-radius: 0;
  padding: 0.6rem 1rem;
}
.THIS.Shield .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a:hover,
.THIS.Shield .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a:active {
  background-color: rgba(158, 158, 158, 0.2);
}
.THIS.Shield .forceChatterFeedBodyText .fadeOut {
  display: inline-block;
  width: auto;
  border-bottom: 1px solid transparent;
  margin-top: 0.4rem;
}
.THIS.Shield .forceChatterFeedBodyText .fadeOut > div {
  display: inline;
}
.THIS.Shield .forceCommunityRichText a.slds-button:hover {
  color: #fff;
}
.THIS.Perspective .peak-body a:hover,
.THIS.Perspective footer li a:hover,
.THIS.Perspective .peak-body a:active,
.THIS.Perspective footer li a:active,
.THIS.Perspective .peak-body a:focus,
.THIS.Perspective footer li a:focus {
  color: #000;
  text-decoration: none;
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item button {
  font-family: "Roboto Mono", monospace;
  text-transform: none;
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]) {
  background: none;
  color: #5902d2;
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]) {
  background-color: rgba(0, 0, 0, 0.04);
  color: #5902d2;
}
.THIS.Intra .cFooterLink,
.THIS.Intra .topicHeaderLink,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a,
.THIS.Intra .notInterestedLink,
.THIS.Intra .forceCommunityUserSettings .changepassword,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
  line-height: 1.7;
  padding-bottom: 2px;
  border-bottom: 1px solid #536dfe;
}
.THIS.Intra .cFooterLink:hover,
.THIS.Intra .topicHeaderLink:hover,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:hover,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:hover,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:hover,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a:hover,
.THIS.Intra .notInterestedLink:hover,
.THIS.Intra .forceCommunityUserSettings .changepassword:hover,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top:hover,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL:hover,
.THIS.Intra .cFooterLink:active,
.THIS.Intra .topicHeaderLink:active,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:active,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:active,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:active,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a:active,
.THIS.Intra .notInterestedLink:active,
.THIS.Intra .forceCommunityUserSettings .changepassword:active,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top:active,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL:active,
.THIS.Intra .cFooterLink:focus,
.THIS.Intra .topicHeaderLink:focus,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:focus,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:focus,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:focus,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a:focus,
.THIS.Intra .notInterestedLink:focus,
.THIS.Intra .forceCommunityUserSettings .changepassword:focus,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top:focus,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL:focus {
  text-decoration: none;
  border-bottom: 1px solid token(textColor);
}
.THIS.Intra .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Intra .forceCommunityGlobalNavigation .slds-list__item button {
  text-transform: none;
}
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu .menuItemLink,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation .menuItemLink,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu ul.comm-navigation__list li a,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation ul.comm-navigation__list li a {
  color: rgba(255, 255, 255, 0.87);
  padding: 7px 0;
  margin-bottom: 3px;
  border-bottom: 2px solid transparent;
}
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]) {
  border-bottom: 2px solid #536dfe;
}
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > a:hover,
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > button:hover,
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > a:focus,
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > button:focus {
  background-color: #fff;
}
.THIS.Trainer .cFooterLink,
.THIS.Trainer .topicHeaderLink,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a,
.THIS.Trainer .notInterestedLink,
.THIS.Trainer .forceCommunityUserSettings .changepassword,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
  line-height: 1.7;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.THIS.Trainer .cFooterLink:hover,
.THIS.Trainer .topicHeaderLink:hover,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:hover,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:hover,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:hover,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a:hover,
.THIS.Trainer .notInterestedLink:hover,
.THIS.Trainer .forceCommunityUserSettings .changepassword:hover,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top:hover,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL:hover,
.THIS.Trainer .cFooterLink:active,
.THIS.Trainer .topicHeaderLink:active,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:active,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:active,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:active,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a:active,
.THIS.Trainer .notInterestedLink:active,
.THIS.Trainer .forceCommunityUserSettings .changepassword:active,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top:active,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL:active,
.THIS.Trainer .cFooterLink:focus,
.THIS.Trainer .topicHeaderLink:focus,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:focus,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:focus,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:focus,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a:focus,
.THIS.Trainer .notInterestedLink:focus,
.THIS.Trainer .forceCommunityUserSettings .changepassword:focus,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top:focus,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL:focus {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button {
  text-transform: none;
}
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]) {
  background-color: rgba(0, 0, 0, 0.07);
}
.THIS .CCEVENTSLCSVNSUMMITS_Event_Filter,
.THIS .CCNEWSLCSVNSUMMITS_News_Filter {
  margin-top: 0;
}
.THIS .cJigsawLayoutGrid {
  margin: 0 auto;
}
.THIS .forceCommunitySearch h1 {
  font-size: 1.8rem;
}
.THIS .forceCommunityUserSettings h2 {
  margin-bottom: 1.5rem;
}
.THIS .forceCommunityUserSettings .changepassword {
  width: auto;
}
.THIS .cSVNSUMMITS_News_Tile .listView.newsContainer {
  padding: 0;
  margin-bottom: 0.7rem;
}
.THIS .cSVNSUMMITS_News_Tile .listView.newsContainer:first-child {
  border-top: 1px solid #d4d4d4;
}
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews .featuredImage,
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews .featuredImage .image {
  min-height: 0;
}
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews {
  display: flex;
  padding: 0.7rem 0;
}
.THIS .cSVNSUMMITS_News_Tile .listView .featuredNews .content {
  flex: 3;
  padding: 0 1rem;
  margin: 0;
}
.THIS .cSVNSUMMITS_News_Tile .newsName {
  min-height: 0;
  padding-bottom: 1.2rem;
}
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topic a {
  font-weight: normal;
}
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .date {
  width: auto;
}
.THIS .cSVNSUMMITS_News_Tile .commentCount {
  margin: 0;
}
.THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search input {
  border: 1px solid #606060;
  padding-right: 3.3rem;
}
@media (max-width: 47.9375em) {
  .THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search input {
    font-size: 1rem;
  }
  .THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search input::placeholder,
  .THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search input::-webkit-input-placeholder,
  .THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search input::-moz-placeholder {
    font-size: 1rem !important;
  }
}
.THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search .slds-icon_container {
  right: 1.7rem;
  top: 1.6rem;
}
@media (min-width: 48em) {
  .THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__search .slds-icon_container {
    top: 2rem;
  }
}
.THIS .noResults .noResultsTitle {
  word-wrap: break-word;
}
.THIS .forceCommunityContactSupportForm > div {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}
.THIS .forceCommunityContactSupportForm > div > h1.slds-page-header__title,
.THIS .forceCommunityCaseDeflection > .header-message > h1.slds-page-header__title {
  padding-bottom: 1rem;
}
.THIS .forceCommunityStreamList .emptyContent,
.THIS .forceCommunityStreamList .listViewContent {
  height: auto;
}
.THIS .forceCommunityStreamList .forceBaseListView .listViewContent,
.THIS .forceCommunityStreamList .forceBaseListView .emptyContent {
  position: static;
}
.THIS .forceChatterStreamsListingMobile.forceBaseListView .listViewContent,
.THIS .forceChatterStreamsListingMobile.forceBaseListView .emptyContent {
  position: static;
}
.THIS .forceCommunityStreamList > div > .slds-text-heading_medium {
  margin: 0 0 0.5rem;
}
@media (max-width: 47.9375em) {
  .THIS .forceTopicFeaturedTopicItem.topicItem {
    height: 140px;
  }
}
.THIS .forceTopicFeaturedTopics .topicLabel {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
@media only screen and (min-aspect-ratio: 1.33333333) and (min-width: 48em), only screen and (min-width: 64.0625em) {
  .THIS .forceTopicFeaturedTopicItem.topicItem {
    height: 125px;
  }
}
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS .cSVNSUMMITS_Events_Tile .slds-text-heading--label-normal {
  color: token(textColor) !important;
}
.THIS .forcePageBlockItemView .tooltipIcon {
  padding-left: 0.2rem;
}
@media (max-width: 47.9375em) {
  .THIS.Outline .cPeak_Uber_Theme_SingleBarHeader .logo_link {
    height: 23px;
  }
}
.THIS.Outline .singleBarHeader-fixed {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
}
.THIS.Outline .forceCommunityGlobalNavigation nav > .comm-navigation__list {
  justify-content: flex-end;
}
.THIS.Outline .forceCommunityGlobalNavigation nav > .comm-navigation__list > li:first-child {
  display: none;
}
.THIS.Outline community_navigation-global-navigation-trigger,
.THIS.Outline .forceCommunityGlobalNavigation .slds-list__item button {
  color: #fff;
}
@media (min-width: 48em) {
  .THIS.Outline .forceCommunityGlobalNavigation .slds-list__item a,
  .THIS.Outline .forceCommunityGlobalNavigation .slds-list__item button {
    font-size: 0.75rem;
    font-weight: 300;
  }
}
.THIS.Outline .forceCommunityGlobalNavigation .slds-button {
  text-transform: uppercase !important;
}
.THIS.Outline community_navigation-global-navigation-list > .slds-grid {
  justify-content: flex-end;
}
.THIS.Outline .forceCommunityGlobalNavigation > * {
  max-width: 100%;
}
.THIS.Outline .cSingleBarHeaderContent {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 47.9375em) {
  .THIS.Outline .cSingleBarHeaderContent .navbar {
    position: relative;
    left: 2rem;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Outline .logo {
    max-width: 60%;
  }
}
.THIS.Outline .forceCommunityGlobalNavigation .slds-is-fixed > .slds-list_vertical a * {
  padding-left: 0;
}
.THIS.Outline .cPeak_Uber_Theme_TwoBarSearchFocused {
  background-size: 420px;
}
@media (min-width: 48em) {
  .THIS.Outline .cPeak_Uber_Theme_TwoBarSearchFocused {
    height: 580px;
  }
}
@media (min-width: 48em) {
  .THIS.Outline .cTwoBarContent {
    padding: 3rem 5% 0;
  }
}
@media (min-width: 48em) {
  .THIS.Outline .cTwoBarContentBody {
    width: 54%;
  }
}
.THIS.Outline .cJigsawLayoutGrid {
  max-width: 1280px;
}
@media (max-width: 47.9375em) {
  .THIS.Outline .cJigsawColumnLeft {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 48em) {
  .THIS.Outline .cJigsawColumnLeft {
    padding-right: 1rem;
  }
}
@media (min-width: 48em) {
  .THIS.Outline .cJigsawColumnRight {
    padding-left: 1rem;
  }
}
.THIS.Outline .uiTabset--default .tabs__item,
.THIS.Outline .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  text-transform: none;
}
.THIS.Outline .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  padding: 6px 0;
}
.THIS.Outline .uiTabset--default .tabs__item > a {
  color: token(textColor);
  font-weight: 400;
  border-bottom: 0.25rem solid transparent;
}
.THIS.Outline .uiTabset--default .tabs__item:hover > a,
.THIS.Outline .uiTabset--default .tabs__item.active > a,
.THIS.Outline .uiTabset--default .tabs__item.active:hover > a {
  border-bottom: 0.25rem solid #5bdebf;
}
.THIS.Outline .forceCommunityFeedPublisher .oneActionsComposer .uiTabBar .uiTabItem.active .tabHeader {
  color: #4fb39d;
}
.THIS.Outline .forceCommunityFeedPublisher .oneActionsComposer .uiTabBar .uiTabItem.active a.tabHeader,
.THIS.Outline .forceCommunityFeedPublisher .oneActionsComposer .uiTabBar .uiTabItem a.tabHeader:hover,
.THIS.Outline .forceCommunityFeedPublisher .oneActionsComposer .uiTabBar .uiTabItem a.tabHeader:focus {
  text-decoration: none;
  border-bottom-color: #4fb39d;
}
.THIS.Outline .forceCommunityUserSettings h2 {
  margin-top: 1rem;
}
.THIS.Outline .forceTopicFeaturedTopicItem .topicLink,
.THIS.Outline .forceTopicFeaturedTopicItem .topicLink:hover,
.THIS.Outline .forceTopicFeaturedTopicItem .topicLink:active,
.THIS.Outline .forceTopicFeaturedTopicItem .topicLink:focus {
  border: none;
}
.THIS.Outline .forceTopicFeaturedTopics .topicContent {
  background-color: token(brandColor);
}
.THIS.Outline .forceTopicFeaturedTopics .topicContent .topicLabel {
  color: #263238;
  transition: color 0.33s;
}
.THIS.Outline .forceTopicFeaturedTopics .topicContent:hover {
  background-color: #4fb39d;
}
.THIS.Outline .forceTopicFeaturedTopics .topicContent:hover .topicLabel {
  color: #000;
}
.THIS.Shield .cPeak_Uber_Theme_SingleBarHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 47.9375em) {
  .THIS.Shield .cPeak_Uber_Theme_SingleBarHeader .content .contentBody .navbar {
    position: relative;
    left: 0.5rem;
  }
}
@media (min-width: 48em) {
  .THIS.Shield .cPeak_Uber_Theme_SingleBarHeader .content .contentBody .navbar {
    flex: 0;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Shield .cPeak_Uber_Theme_SingleBarHeader .logo_link {
    height: 25px;
  }
}
@media (min-width: 768px) and (max-width: 848px) {
  .THIS.Shield .cPeak_Uber_Theme_SingleBarHeader .logo_link {
    height: 21px;
    width: 108px;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Shield .cSingleBarHeaderContent .actions {
    flex: 0 0 2rem;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Shield .cSingleBarHeaderContent .logo {
    max-width: 43%;
    height: 25px;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Shield .forceCommunityGlobalNavigation community_navigation-global-navigation-list > .slds-grid {
    justify-content: flex-end;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Shield .forceCommunityGlobalNavigation community_navigation-global-navigation-list > .slds-grid > .slds-p-horizontal--small {
    padding-right: 0;
  }
}
.THIS.Shield .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation .slds-list_vertical {
  background-color: #f5f5f5;
}
.THIS.Shield .selfServiceUserProfileMenu .login .linkLabel {
  opacity: 0.54;
  color: #000;
  font-size: 0.9rem;
  font-weight: 400;
}
.THIS.Shield .selfServiceUserProfileMenu .login-link {
  text-decoration: none;
}
@media (min-width: 48em) {
  .THIS.Shield .cTwoBarContent {
    padding: 3rem 5% 6rem;
  }
}
.THIS.Shield .cJigsawLayoutGrid {
  max-width: 1200px;
}
@media (max-width: 47.9375em) {
  .THIS.Shield .cJigsawColumnLeft {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 48em) {
  .THIS.Shield .cJigsawColumnLeft {
    padding-right: 1rem;
  }
}
@media (min-width: 48em) {
  .THIS.Shield .cJigsawColumnRight {
    padding-left: 1rem;
  }
}
.THIS.Shield .forceTopicFeaturedTopicItem .topicImage {
  display: none;
}
.THIS.Shield .forceTopicFeaturedTopicItem .topicContent {
  background-color: #f5f5f5;
}
.THIS.Shield .forceTopicFeaturedTopicItem .topicLabel {
  color: token(linkColor);
  font-weight: 400;
  text-transform: none;
  transition: all 0.33s;
}
.THIS.Shield .forceTopicFeaturedTopicItem .topicLink,
.THIS.Shield .forceTopicFeaturedTopicItem .topicLink:hover {
  border: none;
}
.THIS.Shield .forceTopicFeaturedTopicItem .topicLink:hover .topicLabel {
  color: #000;
}
.THIS.Shield .cPeakBannerGrid {
  max-width: 1200px;
}
.THIS.Shield .uiTabset--default .tabs__item > a {
  text-transform: none;
  font-weight: 700;
}
.THIS.Shield .uiTabset--default .tabs__item.active > a {
  color: token(textColor);
}
.THIS.Shield .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  padding: 6px 0;
}
.THIS.Shield .forceCommunityFeedPublisher .oneActionsComposer.uiTabset .uiTabBar .uiTabItem a {
  color: token(textColor);
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1.5rem;
}
.THIS.Shield .forceCommunityFeedPublisher .oneActionsComposer.uiTabset .uiTabBar .uiTabItem.active a {
  font-weight: 700;
}
.THIS.Shield .forceCommunityFeedPublisher .oneActionsComposer .uiTabset--default .tabs__item > a {
  border-bottom: 1px solid transparent;
}
.THIS.Shield .forceCommunityUserProfileDetail .profileDetailView .forceActionsContainer {
  display: none;
}
.THIS.Shield .forceCommunityUserSettings .accountSection {
  display: none;
}
.THIS.Shield .reportPageHeader .reportTitle {
  font-size: 2rem;
}
.THIS.Shield .reportsDataGrid .matrixReportTable th {
  padding: 0.5rem;
}
.THIS.Shield .cSVNSUMMITS_Event_Filter.slds-card {
  border: none;
}
.THIS.Shield .cSVNSUMMITS_Events_Tile .featuredEvent {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.THIS.Shield .cSVNSUMMITS_Events_Tile .eventContainer {
  padding: 0;
}
.THIS.Shield .forceChatterFeedBodyText p,
.THIS.Shield .forceChatterFeedBodyText ul,
.THIS.Shield .forceChatterFeedBodyText ol {
  margin: 0 0 0.7rem;
}
.THIS.Shield .forceCommunityTopArticleList {
  padding-top: 1.5rem;
}
.THIS.Shield .forcePageBlockSection .slds-form-element .slds-form-element__control,
.THIS.Shield .forcePageBlockSection .slds-form-element:not([class*="slds-size"]) {
  padding: 0.5rem 0;
}
.THIS.Shield .forceCommunityTopicDescription .header-label,
.THIS.Shield .forceCommunityHeadline .headlineTitle,
.THIS.Shield .selfServiceTopicTrendingArticles42 > h2,
.THIS.Shield .forceCommunityKnowledgeablePeople .knowledgeablePeopleHeader {
  text-transform: none;
}
.THIS.Shield .forceCommunityHeadline .headlineTitle {
  text-align: left;
}
.THIS.Shield .forceImageRelatedListStencil .itemRows {
  padding: 1rem 0;
}
.THIS.Shield .forceRecordLayout .forceListRecordItem {
  padding-top: 2px;
  padding-bottom: 2px;
}
.THIS.Perspective .singleBarHeader-fixed {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.24);
}
.THIS.Perspective .forceCommunityGlobalNavigation nav > .comm-navigation__list > li:first-child {
  display: none;
}
.THIS.Perspective .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation .slds-list_vertical {
  background-color: #fff;
}
@media (max-width: 47.9375em) {
  .THIS.Perspective .forceCommunityGlobalNavigation community_navigation-global-navigation-list > .slds-grid {
    justify-content: flex-end;
    padding: 0;
  }
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-is-fixed > .slds-list_vertical a * {
  padding-left: 0;
}
@media (min-width: 48em) {
  .THIS.Perspective .cPeak_Uber_Theme_TwoBarSearchFocused {
    height: 580px;
  }
}
@media (min-width: 48em) {
  .THIS.Perspective .cTwoBarContent {
    padding: 3rem 5%;
  }
}
.THIS.Perspective .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  text-transform: none;
}
.THIS.Perspective .cPeak_Banner .peak-banner {
  color: #fff;
}
.THIS.Perspective .forceTopicFeaturedTopics .topicContent {
  background-color: #5902d2;
}
.THIS.Perspective .forceTopicFeaturedTopics .topicContent:hover {
  background-color: #311b92;
}
@media (max-width: 47.9375em) {
  .THIS.Perspective .forceCommunityStreamList > div > .slds-text-heading_medium {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 1.2;
  }
}
.THIS.Perspective .forceCommunityCreateRecordForm .headerLabel {
  text-transform: none;
  text-align: left;
  margin: 1rem 0 1.5rem;
}
.THIS.Perspective .cPeak_CallsToAction .componentWrapper > .baseLayout > a div {
  background-color: #5902d2;
}
.THIS.Perspective .cPeak_CallsToAction .componentWrapper > .baseLayout > a:hover div {
  background-color: #311b92;
}
.THIS.Perspective .selfServiceSimilarArticles42 > h2,
.THIS.Perspective .selfServiceTopicTrendingArticles42 > h2 {
  text-transform: none !important;
}
.THIS.Intra .cSingleBarHeaderContent {
  padding-bottom: 5px;
}
@media (min-width: 48em) {
  .THIS.Intra .cSingleBarHeaderContent .actions .login-link {
    display: inline-block;
    margin-bottom: 11px;
  }
}
@media (min-width: 48em) {
  .THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .content .contentBody {
    align-items: flex-end;
  }
}
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation,
.THIS.Intra .forceCommunityGlobalNavigation nav > .comm-navigation__list {
  justify-content: flex-end;
}
.THIS.Intra .forceCommunityGlobalNavigation nav > .comm-navigation__list > li:first-child {
  display: none;
}
.THIS.Intra .forceCommunityGlobalNavigation li[is="community_navigation-global-navigation-list-item"] {
  padding: 0 1rem;
}
.THIS.Intra .forceCommunityGlobalNavigation svg {
  fill: #fff;
}
.THIS.Intra .forceCommunityGlobalNavigation community_navigation-global-navigation-trigger button,
.THIS.Intra .forceCommunityGlobalNavigation community_navigation-global-navigation-trigger button:active {
  color: #bdbdbd;
}
@media (max-width: 47.9375em) {
  .THIS.Intra .forceCommunityGlobalNavigation community_navigation-global-navigation-list > .slds-grid {
    justify-content: flex-end;
    padding-right: 0;
  }
}
@media (min-width: 48em) {
  .THIS.Intra .cTwoBarContent {
    padding: 4rem 5% 8rem;
  }
}
.THIS.Intra .cPeak_Banner .peak-banner {
  color: #fff;
}
.THIS.Intra .uiTabset--default .tabs__item,
.THIS.Intra .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  text-transform: none;
}
.THIS.Intra .forceTopicFeaturedTopics .topicContent {
  background-color: #536dfe;
}
.THIS.Intra .forceTopicFeaturedTopics .topicContent:hover {
  background-color: #3f51b5;
}
.THIS.Intra .forceTopicFeaturedTopics .topicContent .topicLabel {
  color: #fff;
  font-weight: 400;
}
.THIS.Intra .cPeak_CallsToAction .componentWrapper > .baseLayout > a div {
  background-color: #536dfe;
}
.THIS.Intra .cPeak_CallsToAction .componentWrapper > .baseLayout > a:hover div {
  background-color: #3f51b5;
}
@media (max-width: 47.9375em) {
  .THIS.Intra .forceCommunityStreamList > div > .slds-text-heading_medium {
    font-size: 3.6rem;
  }
}
.THIS.Trainer .singleBarHeader-fixed {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.24);
}
.THIS.Trainer .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu,
.THIS.Trainer .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation,
.THIS.Trainer .forceCommunityGlobalNavigation nav > .comm-navigation__list {
  justify-content: flex-end;
}
.THIS.Trainer .forceCommunityGlobalNavigation nav > .comm-navigation__list > li:first-child {
  display: none;
}
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > .slds-is-nested {
  background-color: #fff;
}
@media screen and (max-width: 48em) {
  .THIS.Trainer .cPeak_Uber_Theme_SingleBarHeader .logo {
    max-width: 100%;
  }
}
.THIS.Trainer .cPeak_Uber_Theme_SingleBarHeader .logo_link {
  height: 30px;
}
@media (min-width: 48em) {
  .THIS.Trainer .cPeak_Uber_Theme_SingleBarHeader .logo_link {
    width: 150px;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Trainer .forceCommunityGlobalNavigation community_navigation-global-navigation-list > .slds-grid {
    justify-content: flex-end;
    padding-right: 0;
  }
}
@media (max-width: 47.9375em) {
  .THIS.Trainer .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation .slds-list_vertical {
    background-color: #f5f5f5;
  }
}
@media (min-width: 48em) {
  .THIS.Trainer .cTwoBarContent {
    padding: 4rem 5% 8rem;
  }
}
.THIS.Trainer .cPeak_Uber_Theme_TwoBarSearchFocused .content .search {
  display: none;
}
.THIS.Trainer .cFooterCol:first-child,
.THIS.Trainer .cFooterCol:nth-child(2),
.THIS.Trainer .cFooterCol:nth-child(3) {
  display: none;
}
.THIS.Trainer .uiTabset--default .tabs__item,
.THIS.Trainer .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
  text-transform: none;
}
.THIS.Trainer .forceTopicFeaturedTopics .topicContent:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.THIS.Trainer .forceTopicFeaturedTopics .topicContent .topicLabel {
  font-weight: 400;
}
.THIS.Trainer .cPeak_CallsToAction .componentWrapper > .baseLayout > a div {
  background-color: #9f9f9f;
}
.THIS.Trainer .cPeak_CallsToAction .componentWrapper > .baseLayout > a:hover div {
  background-color: rgba(0, 0, 0, 0.7);
}
.THIS.Trainer .cPeak_Banner .peak-banner {
  color: #fff;
}
.THIS.Trainer .forceCommunityTopArticleListForTopic .topicHeaderLink {
  text-transform: none;
}
@media (max-width: 47.9375em) {
  .THIS.Trainer .forceCommunityStreamList > div > .slds-text-heading_medium {
    font-size: 2.8rem;
  }
}
