/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  padding-top: 4rem;
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@media (max-width: 47.9375em) {
  .THIS .cFooterGrid {
    text-align: center;
  }
}
@media (max-width: 47.9375em) {
  .THIS .cFooterCol {
    padding-bottom: 1rem;
  }
  .THIS .cFooterCol:last-child {
    padding-bottom: 0;
  }
}
.THIS .cFooterColTitle {
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.5;
  padding-bottom: 0.5rem;
}
.THIS ul {
  margin: 0;
  padding: 0;
}
.THIS li {
  margin: 0;
  padding: 0.5rem 0;
}
.THIS .cFooterLogo {
  background-image: url("https://i.postimg.cc/sDTVNZy9/jigsaw-logo.jpg");
  background-size: contain;
  display: inline-block;
  width: 117px;
  height: 40px;
  max-width: 100%;
  text-decoration: none;
  border: none;
}
@media (min-width: 48em) {
  .THIS .cFooterActionLinks {
    text-align: right;
  }
}
@media (min-width: 48em) {
  .THIS .cAboutUsInner {
    display: table;
    margin: 0 auto;
  }
}
@media (min-width: 48em) {
  .THIS .cFollowInner {
    display: table;
    margin-left: auto;
  }
}
.THIS .cActionList {
  list-style: none;
}
.THIS .cActionListItem {
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 1rem;
}
.THIS .cActionListItem:last-child {
  padding-right: 0;
}
