/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .peak-banner {
  position: relative;
  color: token(textColor);
  background-size: cover;
}
.THIS .peak-banner .peak-banner-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}
.THIS .peak-banner .slds-grid {
  position: relative;
  z-index: 1;
}
.THIS .peak-banner .slds-grid {
  position: relative;
  z-index: 1;
}
.THIS .peak-banner .centered {
  text-align: center;
}
.THIS .peak-banner .darktext {
  color: token(textColor);
}
.THIS .peak-banner .slds-button {
  margin-right: token(spacingLarge);
}
.THIS.cBannerWhite .peak-banner {
  color: token(inverseTextColor);
}
