.THIS {
    @import "../_base/components-common"; // variables and mixins

    background-color: @brandShieldLightGray;

    .cShieldFeatureGrid {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }

    .cFeatureTitle {
        padding-bottom: 0.5rem;
    }

    .cFeatureLink {
        text-transform: uppercase;
    }
}
