.THIS {
    @import "../_base/components-common"; // variables and mixins

    padding-top: 4rem;

    .cFooterGrid {
        @media (max-width: @screen-sm-max) {
            text-align: center;
        }
    }

    .cFooterCol {
        @media (max-width: @screen-sm-max) {
            padding-bottom: 1rem;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .cFooterColTitle {
        font-weight: 500;
        text-transform: uppercase;
        opacity: 0.5;
        padding-bottom: 0.5rem;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0.5rem 0;
    }

    .cFooterLogo {
        background-image: url("https://i.postimg.cc/sDTVNZy9/jigsaw-logo.jpg");
        background-size: contain;
        display: inline-block;
        width: 117px;
        height: 40px;
        max-width: 100%;
        text-decoration: none;
        border: none;
    }

    .cFooterActionLinks {
        @media (min-width: @screen-md-min) {
            text-align: right;
        }
    }

    .cAboutUsInner {
        @media (min-width: @screen-md-min) {
            display: table;
            margin: 0 auto;
        }
    }

    .cFollowInner {
        @media (min-width: @screen-md-min) {
            display: table;
            margin-left: auto;
        }
    }

    .cActionList {
        list-style: none;
    }

    .cActionListItem {
        display: inline-block;
        color: @brandShieldDarkGray;
        padding-right: 1rem;

        &:last-child {
            padding-right: 0;
        }
    }
}
