.THIS {
    @import "../common";
    .slider {
        img {
            width: 100%;
        }
        .slick-arrow {
            &:focus {
                &:before {
                    opacity: 0.75;
                }
                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }
            }
            @media only screen and (max-width: 1170px) {
                z-index: 1;
                &.slick-prev {
                    left: 0.75rem;
                }
                &.slick-next {
                    right: 0.75rem;
                }
            }
        }
        .slick-dots {
            li {
                button {
                    &:before {
                        color: @color;
                    }
                }
            }
        }
        .slide {
            position: relative;
            .slide__caption {
                position: absolute;
                z-index: 2;
                bottom: 0;
                left: 0;

                width: 100%;
                min-height: 62px;

                color: @white;
                background-color: fadeout(@black, 30%);
            }
        }
        &.slider-invertArrowColor {
            .slick-arrow {
                &:before {
                    color: @color;
                }
            }
        }
        &.slider-invertDotColor {
            .slick-dots {
                li {
                    button {
                        &:before {
                            color: @white;
                        }
                    }
                }
            }
        }
        &.invert-caption {
            .slide {
                position: relative;
                .slide__caption {
                    color: @textColor;
                    background-color: fadeout(@white, 30%);
                }
            }
        }
    }
}
