@import "../common";
.THIS {
    .stencil();
    .slick-dots li button:before,
    .slick-next:before,
    .slick-prev:before {
        color: token(colorTextLink);
    }

    .carousel {
        visibility: hidden;

        &.slick-initialized {
            visibility: visible;
        }
    }
}
