@specialtyFont: "Georgia", serif;

.font-specialty-title {
    font-family: @specialtyFont !important; // so that this ALWAYS applies no matter what SLDS says
    font-weight: 700 !important;
    font-style: italic !important;
}
