/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .logo_link
{
    background-image: t('url(' + brandLogoImage + ')');
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .content {
  height: 100%;
  margin: 0 auto;
}
.THIS .content .contentBody {
  height: 100%;
}
.THIS .content .contentBody .navbar {
  flex: 1;
}
.THIS .content .contentBody .navbar .appLauncher {
  display: none;
}
.THIS .forceCommunityNavigationMenu,
.THIS .forceCommunityGlobalNavigation {
  color: #333;
  border: 0;
  background: transparent none;
}
.THIS .forceCommunityNavigationMenu .menuItemLink,
.THIS .forceCommunityGlobalNavigation .menuItemLink,
.THIS .forceCommunityNavigationMenu ul.comm-navigation__list li a,
.THIS .forceCommunityGlobalNavigation ul.comm-navigation__list li a {
  color: #333;
}
.THIS .forceCommunityNavigationMenu .menuItemLink:hover,
.THIS .forceCommunityGlobalNavigation .menuItemLink:hover,
.THIS .forceCommunityNavigationMenu ul.comm-navigation__list li a:hover,
.THIS .forceCommunityGlobalNavigation ul.comm-navigation__list li a:hover {
  color: #333;
  background-color: transparent;
}
@media screen and (max-width: 48em) {
  .THIS .logo {
    max-width: 30%;
  }
}
.THIS .logo_link {
  max-width: 100%;
}
.THIS .search .slds-icon-utility-search svg {
  fill: #333;
}
.THIS .notifications button {
  margin: 0;
}
.THIS .notifications button svg {
  fill: #333;
}
.THIS .profile .selfServiceProfileMenu,
.THIS .profile .selfServiceUserProfileMenu {
  position: relative;
  margin-top: 0;
}
.THIS .profile .selfServiceProfileMenu .uiPopupTrigger,
.THIS .profile .selfServiceUserProfileMenu .uiPopupTrigger {
  padding: 0;
}
.THIS .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger,
.THIS .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
  position: static;
  top: 0;
  height: 54px;
  padding: 12px 0;
}
.THIS .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger .trigger-link,
.THIS .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .trigger-link {
  padding: 0;
  color: #333;
}
.THIS .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger .trigger-link > img,
.THIS .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .trigger-link > img {
  min-width: 30px;
}
.THIS .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger .trigger-link:hover,
.THIS .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .trigger-link:hover {
  color: #333;
}
.THIS .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger .trigger-link:focus,
.THIS .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .trigger-link:focus {
  color: #333;
  box-shadow: none;
}
.THIS .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger .trigger-link .profileName,
.THIS .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger .trigger-link .profileName {
  display: none;
}
.THIS .navSearch {
  position: absolute;
  z-index: 999;
  display: none;
  width: 100%;
  margin-top: 1px;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(153, 153, 153, 0.5);
}
.THIS .navSearch.navSearch-active__content {
  display: block;
}
.THIS .navSearch .navSearch-container {
  height: 100%;
  margin: 0 auto;
  padding: 1rem 0;
}
.THIS .navSearch .navSearch-container .searchBody-icon {
  width: 50px;
  padding: 14px 0;
  text-align: center;
}
.THIS .navSearch .navSearch-container .searchBody-search {
  flex: 1;
}
.THIS .navSearch .navSearch-container .big-search-container {
  height: auto;
}
.THIS .navSearch .navSearch-container .big-search-container .image-wrapper {
  display: none;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper {
  padding: 0;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .search-input-group .search-field {
  font-size: 1rem;
  border: 1px solid #ccc;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .search-input-group button.slds-button {
  display: none;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .search-input-group ::-webkit-input-placeholder {
  font-size: 1rem;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .search-input-group ::-moz-placeholder {
  font-size: 1rem;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .search-input-group :-ms-input-placeholder {
  font-size: 1rem;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .result-container {
  position: absolute;
  width: 100%;
  /* Hiding the Questions Components in search dropdown */
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .result-container .lookup__menu {
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #fff;
}
.THIS .navSearch .navSearch-container .big-search-container .search-wrapper .result-container .continue-post-wrapper {
  display: none;
}
.THIS .navSearch .slds-icon-utility-search svg,
.THIS .navSearch .slds-icon-utility-close svg {
  fill: #333;
}
.THIS.singleBarHeader-fixed {
  position: fixed;
  top: 0;
  z-index: 999999999;
  width: 100%;
}
.THIS .logo_link {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 47.9375em) {
  .THIS .forceCommunityGlobalNavigation nav .comm-navigation__list {
    width: 60%;
    padding-top: 1.5rem;
  }
}
