.THIS {
    position: relative;

    overflow: hidden;

    height: 0;
    padding-bottom: 56.25%;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}
