@import "../_base/components-common";
.THIS {
    .groupContainer {
        a {
            &:hover,
            &:active {
                text-decoration: none;
            }
        }

        .featuredGroup {
            display: flex;

            border: none;

            align-items: center;

            // Profile image
            .imageHeader {
                position: relative;
                top: 0;
                left: 0;

                overflow: hidden;

                width: 80px;
                height: 80px;
                margin-left: 0;

                border: 4px solid @borderColor;
                border-radius: 50%;

                img.profile {
                    position: relative;
                    top: 0;
                    left: 0;

                    min-width: 100%;
                    max-width: 500%;
                    min-height: 100%;
                    max-height: 500%;
                    margin-left: 0;

                    border: none;
                    border-radius: 0;
                }
            }

            .content {
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: @paddingLarge;
            }
        }
    }

    footer {
        a.slds-button_brand {
            display: inline-block;
        }
    }
}
