.THIS {
    .slds-form-element__label,
    .slds-textarea,
    option,
    .slds-form-element__icon {
        font-size: 1rem;
    }

    .slds-form-element__icon {
        padding: 0;

        vertical-align: text-bottom;
    }

    .slds-combobox,
    .slds-combobox * {
        cursor: pointer;
    }

    lightning-picklist {
        margin-bottom: 1rem;
    }
}
