/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS {
  position: relative;
}
.THIS .container {
  position: relative;
  width: 150px;
  min-width: 150px;
  height: 150px;
  border: 10px solid token(colorBorder);
  border-radius: 50%;
}
.THIS .container .slice {
  position: absolute;
  top: -10px;
  left: -10px;
  clip: rect(0em, 150px, 150px, 75px);
  width: 150px;
  height: 150px;
}
.THIS .container *,
.THIS .container *:before,
.THIS .container *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.THIS .container.center {
  float: none;
  margin: 0 auto;
}
.THIS .container > div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.THIS .container > div span {
  font-size: 1.125rem;
  vertical-align: super;
}
.THIS .container > div p {
  font-size: 0.875rem;
  margin-top: -10px;
  margin-left: -10px;
}
.THIS .container.big {
  font-size: 1.25rem;
}
.THIS .container.medium {
  font-size: 2.5rem;
}
.THIS .container.small {
  font-size: 0.7rem;
}
.THIS .slice,
.THIS .container.p50plus .slice {
  clip: rect(auto, auto, auto, auto);
}
.THIS .pie,
.THIS .container .bar,
.THIS .fill,
.THIS .container.p50plus .fill {
  position: absolute;
  clip: rect(0px, 75px, 150px, 0);
  width: 130px;
  height: 130px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 10px solid token(colorBorder);
  border-radius: 50%;
}
.THIS .pie-fill,
.THIS .container.p50plus .bar:after,
.THIS .container.p50plus .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.THIS .legend {
  font-weight: bold;
  text-align: center;
  color: token(colorTextDefault);
}
.THIS .legend.big {
  font-size: 1.25rem;
}
.THIS .legend.medium {
  font-size: 1rem;
}
.THIS .legend.small {
  font-size: 0.7rem;
}
.THIS.over100 .container {
  color: token(inverseTextColor);
  border-color: token(brandColor);
  background-color: token(brandColor) !important;
}
.THIS.over100 .circle-holder div {
  z-index: 10;
}
