.THIS {
    @import "../_base/components-common";
    // Plain is the default display
    .user-tile {
        .text {
            padding: @paddingSmall;
        }

        img.profile-pic {
            max-width: 80%;

            border-radius: 50%;
        }

        hr {
            width: 40%;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 30%;
        }
    }

    &.Banner {
        .user-tile {
            border: 1px solid @borderColor;

            // Container for banner and pic
            .img {
                position: relative;

                overflow: hidden;
            }

            .banner-bg {
                position: absolute;
                right: 0;
                bottom: 50%;
                left: 0;

                overflow: hidden;

                height: 50%;

                .banner-bg-inner {
                    width: 125%;
                    height: 125%;

                    background-position: bottom left;
                    background-size: cover;

                    filter: blur(10px);
                }
            }

            img.profile-pic {
                position: relative;
                z-index: 1;

                overflow: hidden;

                max-width: 40%;

                border: 4px solid @borderColor;
                border-radius: 50%;
                background-position-y: bottom;
            }

            .text {
                padding: @paddingLarge;
            }
        }
    }
}
