.THIS {
    @import "../_base/components-common";

    ol,
    ul {
        margin: 0 0 0 1.25rem;
    }

    ul {
        list-style-type: initial;
    }

    ol {
        list-style-type: decimal;
    }
}
