@import (inline) url("branding_tokens.css");

.THIS {
    @import "../_base/components-common"; // variables and mixins
    .content {
        height: 100%;
        margin: 0 auto;
    }
    .content .contentBody {
        height: 100%;
    }
    .content .contentBody .navbar {
        flex: 1;
    }
    .content .contentBody .navbar .appLauncher {
        display: none;
    }
    .forceCommunityNavigationMenu,
    .forceCommunityGlobalNavigation {
        color: #333;
        border: 0;
        background: transparent none;
    }
    .forceCommunityNavigationMenu .menuItemLink,
    .forceCommunityGlobalNavigation .menuItemLink,
    .forceCommunityNavigationMenu ul.comm-navigation__list li a,
    .forceCommunityGlobalNavigation ul.comm-navigation__list li a {
        color: #333;
    }
    .forceCommunityNavigationMenu .menuItemLink:hover,
    .forceCommunityGlobalNavigation .menuItemLink:hover,
    .forceCommunityNavigationMenu ul.comm-navigation__list li a:hover,
    .forceCommunityGlobalNavigation ul.comm-navigation__list li a:hover {
        color: #333;
        background-color: transparent;
    }
    @media screen and (max-width: 48em) {
        .logo {
            max-width: 30%;
        }
    }
    .logo_link {
        max-width: 100%;
    }
    .search .slds-icon-utility-search svg {
        fill: #333;
    }
    .notifications button {
        margin: 0;
    }
    .notifications button svg {
        fill: #333;
    }
    .profile .selfServiceProfileMenu,
    .profile .selfServiceUserProfileMenu {
        position: relative;
        margin-top: 0;
    }
    .profile .selfServiceProfileMenu .uiPopupTrigger,
    .profile .selfServiceUserProfileMenu .uiPopupTrigger {
        padding: 0;
    }
    .profile .selfServiceProfileMenu .selfServiceProfileMenuTrigger,
    .profile .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
        position: static;
        top: 0;
        height: 54px;
        padding: 12px 0;
    }
    .profile
        .selfServiceProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link,
    .profile
        .selfServiceUserProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link {
        padding: 0;
        color: #333;
    }
    .profile
        .selfServiceProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link
        > img,
    .profile
        .selfServiceUserProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link
        > img {
        min-width: 30px;
    }
    .profile
        .selfServiceProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link:hover,
    .profile
        .selfServiceUserProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link:hover {
        color: #333;
    }
    .profile
        .selfServiceProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link:focus,
    .profile
        .selfServiceUserProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link:focus {
        color: #333;
        box-shadow: none;
    }
    .profile
        .selfServiceProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link
        .profileName,
    .profile
        .selfServiceUserProfileMenu
        .selfServiceProfileMenuTrigger
        .trigger-link
        .profileName {
        display: none;
    }
    .navSearch {
        position: absolute;
        z-index: 999;
        display: none;
        width: 100%;
        margin-top: 1px;
        background-color: #fff;
        box-shadow: 0 2px 6px 0 rgba(153, 153, 153, 0.5);
    }
    .navSearch.navSearch-active__content {
        display: block;
    }
    .navSearch .navSearch-container {
        height: 100%;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .navSearch .navSearch-container .searchBody-icon {
        width: 50px;
        padding: 14px 0;
        text-align: center;
    }
    .navSearch .navSearch-container .searchBody-search {
        flex: 1;
    }
    .navSearch .navSearch-container .big-search-container {
        height: auto;
    }
    .navSearch .navSearch-container .big-search-container .image-wrapper {
        display: none;
    }
    .navSearch .navSearch-container .big-search-container .search-wrapper {
        padding: 0;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .search-input-group
        .search-field {
        font-size: 1rem;
        border: 1px solid #ccc;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .search-input-group
        button.slds-button {
        display: none;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .search-input-group
        ::-webkit-input-placeholder {
        font-size: 1rem;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .search-input-group
        ::-moz-placeholder {
        font-size: 1rem;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .search-input-group
        :-ms-input-placeholder {
        font-size: 1rem;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .result-container {
        position: absolute;
        width: 100%;
        /* Hiding the Questions Components in search dropdown */
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .result-container
        .lookup__menu {
        border: 1px solid #ccc;
        border-top: 0;
        background-color: #fff;
    }
    .navSearch
        .navSearch-container
        .big-search-container
        .search-wrapper
        .result-container
        .continue-post-wrapper {
        display: none;
    }
    .navSearch .slds-icon-utility-search svg,
    .navSearch .slds-icon-utility-close svg {
        fill: #333;
    }

    // ****************************** CUSTOM **********************

    &.singleBarHeader-fixed {
        position: fixed;
        top: 0;
        z-index: 999999999;
        width: 100%;
    }

    .logo_link {
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
    }

    // Profile menu
    //.selfServiceUserProfileMenu .menuList {
    //    z-index: 9999;
    //}

    // Mobile nav
    .forceCommunityGlobalNavigation nav .comm-navigation__list {
        @media (max-width: @screen-sm-max) {
            width: 60%;
            padding-top: 1.5rem;
        }
    }
}
