/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .content {
  height: 100%;
  margin: 0 auto;
  padding: 0 5%;
}
.THIS .content .contentBody {
  height: 100%;
}
.THIS .content .search {
  position: relative;
}
.THIS .content .search .searchIcon {
  position: absolute;
  z-index: 9999;
  top: 28px;
  left: 12px;
}
.THIS .content .search .searchIcon svg {
  fill: #333;
}
.THIS .content .search .big-search-container {
  height: auto;
}
.THIS .content .search .big-search-container .image-wrapper {
  display: none;
}
.THIS .content .search .big-search-container .search-wrapper {
  padding: 0;
}
.THIS .content .search .big-search-container .search-wrapper .search-input-group .search-field {
  font-size: 1rem;
  padding: 0 1rem 0 3rem;
}
.THIS .content .search .big-search-container .search-wrapper .search-input-group button.slds-button {
  display: none;
}
.THIS .content .search .big-search-container .search-wrapper .search-input-group ::-webkit-input-placeholder {
  font-size: 1rem;
}
.THIS .content .search .big-search-container .search-wrapper .search-input-group ::-moz-placeholder {
  font-size: 1rem;
}
.THIS .content .search .big-search-container .search-wrapper .search-input-group :-ms-input-placeholder {
  font-size: 1rem;
}
.THIS .content .search .big-search-container .search-wrapper .result-container {
  position: absolute;
  width: 100%;
  /* Hiding the Questions Components in search dropdown */
}
.THIS .content .search .big-search-container .search-wrapper .result-container .lookup__menu {
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #fff;
}
.THIS .content .search .big-search-container .search-wrapper .result-container .continue-post-wrapper {
  display: none;
}
@media (max-width: 47.9375em) {
  .THIS .content {
    padding: 3rem 5% 5rem;
  }
}
.THIS .content .search .big-search-container .search-wrapper .search-input-group::-webkit-input-placeholder,
.THIS .content .search .big-search-container .search-wrapper .search-input-group .search-field {
  font-size: 1.3rem;
}
.THIS .content .search .searchIcon {
  top: 35%;
}
@media only screen and (max-width: 47.9375em) {
  .THIS .forceCommunitySearchBox .search-field-wrapper {
    display: block;
  }
}
