.THIS {
    padding-left: 1rem;

    border-left: 0.25rem solid @lightGray;

    @import "../_base/components-common";

    blockquote {
        margin: 0 0 1rem 0.9375rem;

        quotes: "“" "”" "‘" "’";
        text-indent: -0.9375rem;

        &:before {
            font-family: Arial;

            content: open-quote;
        }
        &:after {
            font-family: Arial;

            content: close-quote;
        }
    }

    figcaption {
        font-size: 0.9375rem;

        &:before {
            content: " - ";
        }

        span {
            display: inline-block;

            margin: 0 0 0.25rem;
        }

        cite {
            display: block;

            margin: 0 0 0 0.5rem;
        }
    }
}
