button {
    transition: all 0.33s !important;
}

// ===================
// Overrides to SLDS buttons (but still use branding editor!)
// ===================
.slds-button_brand,
.slds-button--brand,
.uiButton--brand,
.slds-button_neutral,
.slds-button--neutral,
.slds-button_inverse {
    .btn();
}

.slds-button_inverse {
    &:link,
    &:visited {
        color: @inverseTextColor;
    }

    &:hover,
    &:active {
        color: @inverseTextColor;
    }
}

.CCEVENTSLCSVNSUMMITS_Events_Header,
.CCEVENTSLCSVNSUMMITS_Event_Filter,
.CCNEWSLCSVNSUMMITS_News_DisplayMode {
    .slds-button {
        line-height: 2rem;

        padding: 4px 16px;
    }
}

// ****************** Community-specific styling ******************

&.Outline {
    .slds-button,
    .uiButton--brand {
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: none;
        border-radius: 5px;
    }

    .slds-button_neutral,
    .slds-button--neutral,
    .oneActionsRibbon li.slds-button--neutral > a {
        color: #337a73;
    }

    .slds-button_brand,
    .slds-button--brand,
    .uiButton--brand {
        color: @textColor;

        &:hover,
        &:active {
            background-color: #a6edd9;
            border-color: #a6edd9;
        }
    }

    .slds-button_icon-container.slds-is-selected,
    .slds-button--icon-container.slds-is-selected,
    .slds-button_icon-border.slds-is-selected,
    .slds-button--icon-border.slds-is-selected,
    .slds-button_icon-border-filled.slds-is-selected,
    .slds-button_icon-border-inverse.slds-is-selected {
        background-color: #368175;
        border-color: #368175;
    }
}

&.Shield {
    .slds-button,
    .slds-button_brand,
    .slds-button--brand,
    .uiButton--brand {
        font-weight: 400;
        border-radius: 0;
        text-transform: none;
    }
}

&.Perspective {
    button,
    .slds-button,
    .uiButton--brand {
        border-radius: 0 !important;
        text-transform: none;
    }

    .slds-button_brand,
    .slds-button--brand,
    .uiButton--brand {
        background-color: @white;
        border-color: @brandPersPurple;
        color: @brandPersPurple;

        &:hover,
        &:active {
            background-color: @brandPersPurple;
            color: @white;
        }
    }

    .forceCommunityCreateRecordForm .button,
    .forceCommunityAskCommunity.askCommunityBtn {
        border: 1px solid @brandPersPurple;
    }
}

&.Intra {
    button,
    .slds-button,
    .uiButton--brand {
        border-radius: 0 !important;
    }

    .slds-button_brand,
    .slds-button--brand,
    .uiButton--brand {
        font-weight: 400;
        border: 1px solid @bgColor;

        &,
        &:hover,
        &:active,
        &:focus {
            background-color: @white;
            color: @bgColor;
        }
    }

    a.slds-button {
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    .slds-button_neutral,
    .slds-button--neutral {
        color: #757575;
    }
}

&.Trainer {
    button,
    .slds-button,
    .uiButton--brand {
        font-weight: 400;
        text-transform: none;
        border-radius: 0 !important;
    }
}

// ****************** Disabled buttons ******************

button[disabled],
button:disabled,
.slds-button_brand[disabled],
.slds-button_brand:disabled,
.slds-button--brand[disabled],
.slds-button--brand:disabled,
.slds-button_neutral[disabled],
.slds-button_neutral:disabled,
.slds-button--neutral[disabled],
.slds-button--neutral:disabled {
    &,
    &:hover {
        background-color: @white;
        border-color: @brandIntraGray;
        color: @brandIntraGray;
    }
}

.cPeak_KnowledgeFilter
    .peak_knowledgeFilter__pager
    button[disabled]
    .slds-icon_container
    svg {
    fill: @brandIntraGray !important;
}

&.Outline {
    button[disabled],
    button:disabled,
    .slds-button_brand[disabled],
    .slds-button_brand:disabled,
    .slds-button--brand[disabled],
    .slds-button--brand:disabled,
    .slds-button_neutral[disabled],
    .slds-button_neutral:disabled,
    .slds-button--neutral[disabled],
    .slds-button--neutral:disabled {
        &,
        &:hover {
            background-color: @lightGray;
            border-color: @lightGray;
            color: #848b8e;
        }
    }

    .cPeak_KnowledgeFilter
        .peak_knowledgeFilter__pager
        button[disabled]
        .slds-icon_container
        svg {
        fill: #848b8e !important;
    }
}
