@import "../_mixins/typography.less";

&.Outline {
    .gjOutlineTypography();

    // Peak Banner component p1
    .cSubHeadline {
        padding-top: 1.6rem;
    }
}

&.Shield {
    .gjShieldTypography();

    // Peak Banner component p1
    .cSubHeadline {
        padding-top: 0.4rem;
    }
}

&.Perspective {
    .gjPersTypography();
}

&.Intra {
    .gjIntraTypography();
}

&.Trainer {
    .gjTrainerTypography();
}
