a {
    &:link,
    &:visited {
        transition: all 0.33s;

        svg {
            fill: @color;
        }
    }
}

// 7S News

.cSVNSUMMITS_News_Tile .featuredNews .content .topics a,
.cSVNSUMMITS_News_Detail_Header .topic a {
    &:hover,
    &:active,
    &:focus {
        color: @textColor;
        text-decoration: none;
    }
}

// Community-specific styles

&.Outline {
    .cFooterLink,
    .topicHeaderLink,
    .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
    .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
    .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
    .cSVNSUMMITS_News_Tile .newsName a,
    .notInterestedLink,
    .forceCommunityUserSettings .changepassword,
    .forceCommunityTopicCatalog .topicHierarchy-top,
    .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
        line-height: 1.7;
        padding-bottom: 2px;
        border-bottom: 1px solid @brandOutlineGreen;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            border-bottom: 1px solid @textColor;
        }
    }

    .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a {
        font-weight: normal;
    }

    .cFeatureLink {
        color: @brandOutlineGreen;
        padding-bottom: 0.4rem;

        border-bottom: 0.25rem solid @brandOutlineGreen;

        &:hover,
        &:active {
            color: @white;
            text-decoration: none;
            border-bottom: 0.25rem solid @white;
        }
    }
}

&.Shield {
    .peak-body a,
    footer li a,
    .cShieldFeatureGrid a {
        font-weight: 300;

        &:hover,
        &:active,
        &:focus {
            color: @black;
            text-decoration: none;
        }
    }

    a.slds-button,
    a.slds-button_brand,
    a.slds-button--brand {
        &,
        &:hover,
        &:active,
        &:focus {
            font-weight: 400;
        }
    }

    // Nav

    .forceCommunityGlobalNavigation .slds-list__item a,
    .forceCommunityGlobalNavigation .slds-list__item button {
        color: #3d3d3d;
        text-transform: none;
    }

    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation .slds-list__item a:hover,
    .forceCommunityGlobalNavigation
        .slds-list__item
        a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]):hover,
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]).slds-is-active:not([data-type="home"]) {
        background-color: rgba(0, 0, 0, 0.1);
    }

    // Feed buttons

    .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a {
        background-color: @white;
        color: @textColor;
        font-weight: 500;
        border: 1px solid @borderColor;
        border-radius: 0;
        padding: 0.6rem 1rem;

        &:hover,
        &:active {
            background-color: rgba(158, 158, 158, 0.2);
        }
    }

    // Feed component - "Show More" link

    .forceChatterFeedBodyText .fadeOut {
        display: inline-block;
        width: auto;
        border-bottom: 1px solid transparent;
        margin-top: 0.4rem;

        & > div {
            display: inline;
        }
    }

    // Other

    .forceCommunityRichText a.slds-button:hover {
        color: @white;
    }
}

&.Perspective {
    .peak-body a,
    footer li a {
        &:hover,
        &:active,
        &:focus {
            color: @black;
            text-decoration: none;
        }
    }

    // Nav

    .forceCommunityGlobalNavigation .slds-list__item a,
    .forceCommunityGlobalNavigation .slds-list__item button {
        font-family: "Roboto Mono", monospace;
        text-transform: none;
    }

    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button.slds-is-active:not([data-type="home"]) {
        background: none;
        color: @brandPersPurple;
    }

    // Mobile nav

    .forceCommunityGlobalNavigation
        .slds-list__item
        a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]).slds-is-active:not([data-type="home"]) {
        background-color: rgba(0, 0, 0, 0.04);
        color: @brandPersPurple;
    }
}

&.Intra {
    .cFooterLink,
    .topicHeaderLink,
    .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
    .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
    .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
    .cSVNSUMMITS_News_Tile .newsName a,
    .notInterestedLink,
    .forceCommunityUserSettings .changepassword,
    .forceCommunityTopicCatalog .topicHierarchy-top,
    .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
        line-height: 1.7;
        padding-bottom: 2px;
        border-bottom: 1px solid @brandIntraPurple;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            border-bottom: 1px solid @textColor;
        }
    }

    // Nav

    .forceCommunityGlobalNavigation .slds-list__item a,
    .forceCommunityGlobalNavigation .slds-list__item button {
        text-transform: none;
    }

    .cPeak_Uber_Theme_SingleBarHeader
        .forceCommunityNavigationMenu
        .menuItemLink,
    .cPeak_Uber_Theme_SingleBarHeader
        .forceCommunityGlobalNavigation
        .menuItemLink,
    .cPeak_Uber_Theme_SingleBarHeader
        .forceCommunityNavigationMenu
        ul.comm-navigation__list
        li
        a,
    .cPeak_Uber_Theme_SingleBarHeader
        .forceCommunityGlobalNavigation
        ul.comm-navigation__list
        li
        a {
        color: rgba(255, 255, 255, 0.87);
        padding: 7px 0;
        margin-bottom: 3px;
        border-bottom: 2px solid transparent;
    }

    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button.slds-is-active:not([data-type="home"]) {
        border-bottom: 2px solid @brandIntraPurple;
    }

    // Other

    .oneActionsRibbon li.slds-button--neutral > a:hover,
    .oneActionsRibbon li.slds-button--neutral > button:hover,
    .oneActionsRibbon li.slds-button--neutral > a:focus,
    .oneActionsRibbon li.slds-button--neutral > button:focus {
        background-color: @white;
    }
}

&.Trainer {
    .cFooterLink,
    .topicHeaderLink,
    .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
    .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
    .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
    .cSVNSUMMITS_News_Tile .newsName a,
    .notInterestedLink,
    .forceCommunityUserSettings .changepassword,
    .forceCommunityTopicCatalog .topicHierarchy-top,
    .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
        line-height: 1.7;
        padding-bottom: 2px;
        border-bottom: 1px solid @brandTrainerDarkGray;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            border-bottom: 1px solid @black;
        }
    }

    // Nav

    .forceCommunityGlobalNavigation .slds-list__item a,
    .forceCommunityGlobalNavigation .slds-list__item button {
        text-transform: none;
    }

    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button:hover,
    .forceCommunityGlobalNavigation
        .slds-list_horizontal
        > .slds-list__item
        > button.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation .slds-list__item a:hover,
    .forceCommunityGlobalNavigation
        .slds-list__item
        a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]):hover,
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]).slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation .slds-list__item a:hover,
    .forceCommunityGlobalNavigation
        .slds-list__item
        a.slds-is-active:not([data-type="home"]),
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]):hover,
    .forceCommunityGlobalNavigation
        .slds-list__item
        button:not([disabled]).slds-is-active:not([data-type="home"]) {
        background-color: rgba(0, 0, 0, 0.07);
    }
}
