@import "../_base/components-common";
.THIS {
    position: relative;

    min-height: 2rem;
    .file-details {
        .help-icon {
            button {
                vertical-align: text-bottom;

                color: currentColor;
            }
        }
    }
    .file-input,
    .spinner-container {
        position: relative;
    }
}
