/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.THIS iframe,
.THIS object,
.THIS embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
