.THIS {
    @import "../_base/components-common"; // variables and mixins

    .cArticleVotingGrid {
        background-color: @white;
        padding: 0.5rem 0.9rem;
        border: 1px solid @borderColor;
        border-radius: 0.25rem;

        &,
        p {
            font-size: 0.745rem;
        }
    }

    .cUpvoteWrap {
        padding-right: 1.2rem;
    }

    .cVotingBtnWrap,
    .cVotingCount {
        display: inline-block;
    }

    .cVotingCount {
        padding-left: 0.5rem;
    }

    .no-click {
        pointer-events: none;
    }
}
