/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .groupContainer a:hover,
.THIS .groupContainer a:active {
  text-decoration: none;
}
.THIS .groupContainer .featuredGroup {
  display: flex;
  border: none;
  align-items: center;
}
.THIS .groupContainer .featuredGroup .imageHeader {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 4px solid token(borderColor);
  border-radius: 50%;
}
.THIS .groupContainer .featuredGroup .imageHeader img.profile {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 500%;
  min-height: 100%;
  max-height: 500%;
  margin-left: 0;
  border: none;
  border-radius: 0;
}
.THIS .groupContainer .featuredGroup .content {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: token(spacingLarge);
}
.THIS footer a.slds-button_brand {
  display: inline-block;
}
