/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS {
  position: relative;
  /*
        So, initially hide through opacity and z-index.
        First frame of fade in, bring z-index forward, THEN animate opacity
        When animating out, animate opacity out, then finally bring z-index back
        This way, there aren't invisible tooltips blocking other things on screen!
     */
}
.THIS .peak-tooltip {
  border: 1px solid token(borderColor);
  border-radius: 0;
  background: #fff;
  z-index: -1;
  animation-duration: 0.25s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.THIS .peak-tooltip.peak-hide {
  animation-name: fadeOut;
}
.THIS .peak-tooltip.peak-show {
  animation-name: fadeIn;
}
.THIS .peak-tooltip .slds-popover__body {
  color: token(textColor);
}
.THIS .peak-tooltip:before,
.THIS .peak-tooltip:after {
  width: 0.5rem;
  height: 0.5rem;
}
.THIS .slds-popover {
  position: absolute;
  width: 300px;
  /*
            TODO - the following have not been styled
         */
}
.THIS .slds-popover.slds-nubbin_right {
  right: 1.8rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.THIS .slds-popover.slds-nubbin_right:before,
.THIS .slds-popover.slds-nubbin_right:after {
  right: -0.25rem;
  margin-top: -0.25rem;
}
.THIS .slds-popover.slds-nubbin_left {
  margin-left: 0.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.THIS .slds-popover.slds-nubbin_left:before,
.THIS .slds-popover.slds-nubbin_left:after {
  left: -0.25rem;
  margin-top: -0.25rem;
}
.THIS .slds-popover.slds-nubbin_top {
  margin-top: 1.8rem;
  left: 0.9rem;
  margin-left: -150px;
}
.THIS .slds-popover.slds-nubbin_top:before,
.THIS .slds-popover.slds-nubbin_top:after {
  left: -0.25rem;
  margin-top: 0.25rem;
  margin-left: 50%;
}
.THIS .slds-popover.slds-nubbin_bottom {
  left: 0.9rem;
  margin-left: -150px;
}
.THIS .slds-popover.slds-nubbin_bottom:before,
.THIS .slds-popover.slds-nubbin_bottom:after {
  bottom: -0.25rem;
  left: -0.25rem;
  margin-left: 50%;
}
.THIS .slds-popover.slds-nubbin_bottom-left {
  bottom: 1.8rem;
  left: -0.25rem;
}
.THIS .slds-popover.slds-nubbin_top-left {
  top: 1.8rem;
  left: -0.25rem;
}
.THIS .slds-popover.slds-nubbin_bottom-right {
  right: -0.25rem;
  bottom: 1.8rem;
}
.THIS .slds-popover.slds-nubbin_top-right {
  top: 1.8rem;
  right: -0.25rem;
}
