.THIS {
    @import "../_base/components-common";

    .slds-button {
        font-size: 1.25rem;
        line-height: 1;

        color: t(colorTextLink);
        border: none;

        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    //.slds-icon-utility-email
    //{
    //    display: none;
    //}
}
