@import "../_base/components-common";
@boxSize: 150px;
@borderWidth: 10px;
.THIS {
    position: relative;
    .container {
        position: relative;

        width: @boxSize;
        min-width: @boxSize;
        height: @boxSize;

        border: @borderWidth solid token(colorBorder);
        border-radius: 50%;

        .slice {
            position: absolute;
            top: @borderWidth*-1;
            left: @borderWidth*-1;

            clip: rect(0em, @boxSize, @boxSize, @boxSize / 2);

            width: @boxSize;
            height: @boxSize;
        }
        *,
        *:before,
        *:after {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }
        &.center {
            float: none;

            margin: 0 auto;
        }
        > div {
            position: absolute;

            width: 100%;
            height: 100%;

            text-align: center;
            span {
                font-size: 1.125rem;

                vertical-align: super;
            }
            p {
                font-size: 0.875rem;

                margin-top: -10px;
                margin-left: -10px;
            }
        }
        &.big {
            font-size: 1.25rem;
        }
        &.medium {
            font-size: 2.5rem;
        }
        &.small {
            font-size: 0.7rem;
        }
    }
    .slice,
    .container.p50plus .slice {
        clip: rect(auto, auto, auto, auto);
    }
    .pie,
    .container .bar,
    .fill,
    .container.p50plus .fill {
        position: absolute;

        clip: rect(0px, @boxSize / 2, @boxSize, 0);

        width: @boxSize - (@borderWidth*2);
        height: @boxSize - (@borderWidth*2);

        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);

        border: @borderWidth solid token(colorBorder);
        border-radius: 50%;
    }
    .pie-fill,
    .container.p50plus .bar:after,
    .container.p50plus .fill {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .legend {
        font-weight: bold;

        text-align: center;

        color: token(colorTextDefault);
        &.big {
            font-size: 1.25rem;
        }
        &.medium {
            font-size: 1rem;
        }
        &.small {
            font-size: 0.7rem;
        }
    }

    &.over100 {
        .container {
            color: @inverseTextColor;
            border-color: @bgColor;
            background-color: @bgColor !important;
        }

        .slice .bar {
            //border-color: green !important;
            //background-color: lightgreen;
        }
        .circle-holder div {
            z-index: 10;
        }
    }
}
