.THIS {
    @import "../_base/components-common"; // variables and mixins

    background-color: @brandOutlineBlack;
    color: @white;

    .cOutlineFeatureGrid {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
}
