@import "../variables";
@import "_base/_mixins/_mixins";
/* Common CSS here */
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.circle(@size: 50px) {
    width: @size;
    height: @size;
    margin: auto;

    .border-radius(50%);
}
.offset(@amount) {
    top: @amount*-1 / 2;
}
.offsetText(@amount) {
    padding-top: @amount / 2+20px;
}
