/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  /* Common CSS here */
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .slider img {
  width: 100%;
}
.THIS .slider .slick-arrow:focus:before {
  opacity: 0.75;
}
.THIS .slider .slick-arrow:focus:hover:before {
  opacity: 1;
}
@media only screen and (max-width: 1170px) {
  .THIS .slider .slick-arrow {
    z-index: 1;
  }
  .THIS .slider .slick-arrow.slick-prev {
    left: 0.75rem;
  }
  .THIS .slider .slick-arrow.slick-next {
    right: 0.75rem;
  }
}
.THIS .slider .slick-dots li button:before {
  color: token(linkColor);
}
.THIS .slider .slide {
  position: relative;
}
.THIS .slider .slide .slide__caption {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 62px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.THIS .slider.slider-invertArrowColor .slick-arrow:before {
  color: token(linkColor);
}
.THIS .slider.slider-invertDotColor .slick-dots li button:before {
  color: #fff;
}
.THIS .slider.invert-caption .slide {
  position: relative;
}
.THIS .slider.invert-caption .slide .slide__caption {
  color: token(textColor);
  background-color: rgba(255, 255, 255, 0.7);
}
