.THIS {
    @import "../common";

    .peak-banner {
        position: relative;

        color: @textColor;
        background-size: cover;
        .bannerOverlay();

        .slds-grid {
            position: relative;
            z-index: 1;
        }

        .centered {
            text-align: center;
        }
        .darktext {
            color: @textColor;
        }

        .slds-button {
            margin-right: @paddingLarge;
        }
    }

    &.cBannerWhite .peak-banner {
        color: @inverseTextColor;
    }
}
