/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS {
  position: relative;
  min-height: 2rem;
}
.THIS .file-details .help-icon button {
  vertical-align: text-bottom;
  color: currentColor;
}
.THIS .file-input,
.THIS .spinner-container {
  position: relative;
}
