/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .cArticleVotingGrid {
  background-color: #fff;
  padding: 0.5rem 0.9rem;
  border: 1px solid token(borderColor);
  border-radius: 0.25rem;
}
.THIS .cArticleVotingGrid,
.THIS .cArticleVotingGrid p {
  font-size: 0.745rem;
}
.THIS .cUpvoteWrap {
  padding-right: 1.2rem;
}
.THIS .cVotingBtnWrap,
.THIS .cVotingCount {
  display: inline-block;
}
.THIS .cVotingCount {
  padding-left: 0.5rem;
}
.THIS .no-click {
  pointer-events: none;
}
