/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
@media (min-width: 48em) {
  .THIS {
    /*.fixed-col *
    {
        width: inherit;
    }
    */
  }
  .THIS .slds-medium-size--4-of-12 > div {
    width: 100%;
  }
  .THIS .fix-nav .slds-medium-size--4-of-12 section {
    position: fixed;
    top: 0;
  }
}
