.THIS {
    @import "../_base/components-common"; // variables and mixins
    @import "../_base/_typography/_typography"; // base typography
    @import "../_base/_components/_components"; // base components

    // ****************************** ALL COMMUNITIES ******************************

    // Jigsaw Layout component

    .cJigsawLayoutGrid {
        margin: 0 auto;
    }

    // Community Search

    .forceCommunitySearch h1 {
        font-size: 1.8rem;
    }

    // User settings

    .forceCommunityUserSettings {
        h2 {
            margin-bottom: 1.5rem;
        }

        .changepassword {
            width: auto;
        }
    }

    // 7S News List

    .cSVNSUMMITS_News_Tile {
        .listView {
            &.newsContainer {
                padding: 0;
                margin-bottom: 0.7rem;

                &:first-child {
                    border-top: 1px solid #d4d4d4;
                }
            }

            .featuredNews .featuredImage,
            .featuredNews .featuredImage .image {
                min-height: 0;
            }

            .featuredNews {
                display: flex;
                padding: 0.7rem 0;
            }

            .featuredNews .content {
                flex: 3;
                padding: 0 1rem;
                margin: 0;
            }
        }

        .newsName {
            min-height: 0;
            padding-bottom: 1.2rem;
        }

        .featuredNews .content .topic a {
            font-weight: normal;
        }

        .featuredNews .content .date {
            width: auto;
        }

        .commentCount {
            margin: 0;
        }
    }

    // 7S Knowledge Filter

    .cPeak_KnowledgeFilter .peak_knowledgeFilter__search input {
        border: 1px solid @gray;
        padding-right: 3.3rem;

        @media (max-width: @screen-sm-max) {
            font-size: 1rem;

            &::placeholder,
            &::-webkit-input-placeholder,
            &::-moz-placeholder {
                font-size: 1rem !important;
            }
        }
    }

    .cPeak_KnowledgeFilter .peak_knowledgeFilter__search .slds-icon_container {
        right: 1.7rem;
        top: 1.6rem;

        @media (min-width: @screen-md-min) {
            top: 2rem;
        }
    }

    .noResults .noResultsTitle {
        word-wrap: break-word;
    }

    // Contact Support Form (Salesforce OOTB component)

    .forceCommunityContactSupportForm > div {
        white-space: normal;
        overflow: visible;
        text-overflow: initial;
    }

    .forceCommunityContactSupportForm > div > h1.slds-page-header__title,
    .forceCommunityCaseDeflection
        > .header-message
        > h1.slds-page-header__title {
        padding-bottom: 1rem;
    }

    // Stream List (Salesforce OOTB component)

    .forceCommunityStreamList .emptyContent,
    .forceCommunityStreamList .listViewContent {
        height: auto;
    }

    .forceCommunityStreamList {
        .forceBaseListView .listViewContent,
        .forceBaseListView .emptyContent {
            position: static;
        }
    }

    .forceChatterStreamsListingMobile {
        &.forceBaseListView .listViewContent,
        &.forceBaseListView .emptyContent {
            position: static;
        }
    }

    .forceCommunityStreamList > div > .slds-text-heading_medium {
        margin: 0 0 0.5rem;
    }

    // Featured Topics (Salesforce OOOTD component)

    .forceTopicFeaturedTopicItem.topicItem {
        @media (max-width: @screen-sm-max) {
            height: 140px;
        }
    }

    .forceTopicFeaturedTopics .topicLabel {
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .forceTopicFeaturedTopicItem.topicItem {
        @media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em),
            only screen and (min-width: 64.0625em) {
            height: 125px;
        }
    }

    // 7S Events

    .cSVNSUMMITS_Events_Tile {
        .featuredEvent .content .topic a,
        .featuredEvent .content .name a,
        .slds-text-heading--label-normal {
            color: @textColor !important;
        }
    }

    // Other

    .forcePageBlockItemView .tooltipIcon {
        padding-left: 0.2rem;
    }

    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************

    // ****************************** OUTLINE ***********************

    &.Outline {
        // ****************** Header & primary navigation **************

        .cPeak_Uber_Theme_SingleBarHeader .logo_link {
            @media (max-width: @screen-sm-max) {
                height: 23px;
            }
        }

        .singleBarHeader-fixed {
            box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
        }

        .forceCommunityGlobalNavigation nav > .comm-navigation__list {
            justify-content: flex-end;

            // Hide the "Home" link
            & > li:first-child {
                display: none;
            }
        }

        community_navigation-global-navigation-trigger,
        .forceCommunityGlobalNavigation .slds-list__item button {
            color: @white;
        }

        .forceCommunityGlobalNavigation .slds-list__item a,
        .forceCommunityGlobalNavigation .slds-list__item button {
            @media (min-width: @screen-md-min) {
                font-size: 0.75rem;
                font-weight: 300;
            }
        }

        .forceCommunityGlobalNavigation .slds-button {
            text-transform: uppercase !important;
        }

        community_navigation-global-navigation-list > .slds-grid {
            justify-content: flex-end;
        }

        .forceCommunityGlobalNavigation > * {
            max-width: 100%;
        }

        .cSingleBarHeaderContent {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            .navbar {
                @media (max-width: @screen-sm-max) {
                    position: relative;
                    left: 2rem;
                }
            }
        }

        .logo {
            @media (max-width: @screen-sm-max) {
                max-width: 60%;
            }
        }

        // Mobile nav

        .forceCommunityGlobalNavigation
            .slds-is-fixed
            > .slds-list_vertical
            a
            * {
            padding-left: 0;
        }

        // ******************* TwoBarSearchFocused area **********

        .cPeak_Uber_Theme_TwoBarSearchFocused {
            background-size: 420px;

            @media (min-width: @screen-md-min) {
                height: 580px;
            }
        }

        .cTwoBarContent {
            @media (min-width: @screen-md-min) {
                padding: 3rem 5% 0;
            }
        }

        .cTwoBarContentBody {
            @media (min-width: @screen-md-min) {
                width: 54%;
            }
        }

        // ****************** Body content ***************

        .cJigsawLayoutGrid {
            max-width: 1280px;
        }

        // ****************** Gutters for Jigsaw Layout component ******************

        .cJigsawColumnLeft {
            @media (max-width: @screen-sm-max) {
                padding-bottom: 1.5rem;
            }

            @media (min-width: @screen-md-min) {
                padding-right: 1rem;
            }
        }

        .cJigsawColumnRight {
            @media (min-width: @screen-md-min) {
                padding-left: 1rem;
            }
        }

        // ****************** Tabs ************************

        .uiTabset--default .tabs__item,
        .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
            text-transform: none;
        }

        .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
            padding: 6px 0;
        }

        .uiTabset--default .tabs__item > a {
            color: @textColor;
            font-weight: 400;
            border-bottom: 0.25rem solid transparent;
        }

        .uiTabset--default .tabs__item:hover > a,
        .uiTabset--default .tabs__item.active > a,
        .uiTabset--default .tabs__item.active:hover > a {
            border-bottom: 0.25rem solid @brandOutlineGreen;
        }

        .forceCommunityFeedPublisher
            .oneActionsComposer
            .uiTabBar
            .uiTabItem.active
            .tabHeader {
            color: @brandOutlineDarkGreen;
        }

        .forceCommunityFeedPublisher
            .oneActionsComposer
            .uiTabBar
            .uiTabItem.active
            a.tabHeader,
        .forceCommunityFeedPublisher
            .oneActionsComposer
            .uiTabBar
            .uiTabItem
            a.tabHeader:hover,
        .forceCommunityFeedPublisher
            .oneActionsComposer
            .uiTabBar
            .uiTabItem
            a.tabHeader:focus {
            text-decoration: none;
            border-bottom-color: @brandOutlineDarkGreen;
        }

        // ************** User settings *****************

        .forceCommunityUserSettings {
            h2 {
                margin-top: 1rem;
            }
        }

        // ****************** Featured Topics (Salesforce OOTB component) ***************

        .forceTopicFeaturedTopicItem .topicLink {
            &,
            &:hover,
            &:active,
            &:focus {
                border: none;
            }
        }

        .forceTopicFeaturedTopics .topicContent {
            background-color: @bgColor;

            .topicLabel {
                color: @brandOutlineBlack;
                transition: color 0.33s;
            }

            &:hover {
                background-color: @brandOutlineDarkGreen;

                .topicLabel {
                    color: @black;
                }
            }
        }
    }
    // end &.Outline

    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************

    // ********************************* SHIELD *******************************

    &.Shield {
        // ****************** Header & primary navigation *******************

        .cPeak_Uber_Theme_SingleBarHeader {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

            .content .contentBody .navbar {
                @media (max-width: @screen-sm-max) {
                    position: relative;
                    left: 0.5rem;
                }

                @media (min-width: @screen-md-min) {
                    flex: 0;
                }
            }

            .logo_link {
                @media (max-width: @screen-sm-max) {
                    height: 25px;
                }

                @media (min-width: 768px) and (max-width: 848px) {
                    height: 21px;
                    width: 108px;
                }
            }
        }

        .cSingleBarHeaderContent {
            .actions {
                @media (max-width: @screen-sm-max) {
                    flex: 0 0 2rem;
                }
            }

            .logo {
                @media (max-width: @screen-sm-max) {
                    max-width: 43%;
                    height: 25px;
                }
            }
        }

        // Mobile nav

        .forceCommunityGlobalNavigation {
            community_navigation-global-navigation-list > .slds-grid {
                @media (max-width: @screen-sm-max) {
                    justify-content: flex-end;
                }
            }

            community_navigation-global-navigation-list
                > .slds-grid
                > .slds-p-horizontal--small {
                @media (max-width: @screen-sm-max) {
                    padding-right: 0;
                }
            }
        }

        .cPeak_Uber_Theme_SingleBarHeader
            .forceCommunityGlobalNavigation
            .slds-list_vertical {
            background-color: @brandShieldLightGray;
        }

        // "Login" link

        .selfServiceUserProfileMenu .login .linkLabel {
            opacity: 0.54;
            color: @black;
            font-size: 0.9rem;
            font-weight: 400;
        }

        .selfServiceUserProfileMenu .login-link {
            text-decoration: none;
        }

        // TwoBarSearchFocused area

        .cTwoBarContent {
            @media (min-width: @screen-md-min) {
                padding: 3rem 5% 6rem;
            }
        }

        // ****************** Jigsaw Layout component *********************

        .cJigsawLayoutGrid {
            max-width: 1200px;
        }

        .cJigsawColumnLeft {
            @media (max-width: @screen-sm-max) {
                padding-bottom: 1.5rem;
            }

            @media (min-width: @screen-md-min) {
                padding-right: 1rem;
            }
        }

        .cJigsawColumnRight {
            @media (min-width: @screen-md-min) {
                padding-left: 1rem;
            }
        }

        // ****************** Featured Topics (Salesforce OOTB component) ***************

        .forceTopicFeaturedTopicItem {
            .topicImage {
                display: none;
            }

            .topicContent {
                background-color: @brandShieldLightGray;
            }

            .topicLabel {
                color: @color;
                font-weight: 400;
                text-transform: none;
                transition: all 0.33s;
            }
        }

        .forceTopicFeaturedTopicItem .topicLink {
            &,
            &:hover {
                border: none;
            }

            &:hover .topicLabel {
                color: @black;
            }
        }

        // ****************** 7S Banner *********************

        .cPeakBannerGrid {
            max-width: 1200px;
        }

        // ****************** Tabs ************************

        .uiTabset--default .tabs__item {
            & > a {
                text-transform: none;
                font-weight: 700;
            }

            &.active > a {
                color: @textColor;
            }
        }

        .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
            padding: 6px 0;
        }

        // Tabs that have borders all around (Post, Question, Poll)
        .forceCommunityFeedPublisher
            .oneActionsComposer.uiTabset
            .uiTabBar
            .uiTabItem
            a {
            color: @textColor;
            font-size: 0.7rem;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 1.5rem;
        }

        .forceCommunityFeedPublisher
            .oneActionsComposer.uiTabset
            .uiTabBar
            .uiTabItem.active
            a {
            font-weight: 700;
        }

        .forceCommunityFeedPublisher
            .oneActionsComposer
            .uiTabset--default
            .tabs__item
            > a {
            border-bottom: 1px solid transparent;
        }

        // ****************** User Profile **************

        // Hide the "Follow" and "Message" buttons
        .forceCommunityUserProfileDetail
            .profileDetailView
            .forceActionsContainer {
            display: none;
        }

        // ****************** User Settings **********************

        .forceCommunityUserSettings {
            .accountSection {
                display: none;
            }
        }

        // ****************** Report Detail page ******************

        .reportPageHeader .reportTitle {
            font-size: 2rem;
        }

        .reportsDataGrid .matrixReportTable th {
            padding: 0.5rem;
        }

        // ****************** 7S Events Filter ****************

        .cSVNSUMMITS_Event_Filter.slds-card {
            border: none;
        }

        .cSVNSUMMITS_Events_Tile {
            .featuredEvent {
                border-left: 0;
                border-right: 0;
                border-top: 0;
            }
            .eventContainer {
                padding: 0;
            }
        }

        // ****************** Other *****************

        .forceChatterFeedBodyText {
            p,
            ul,
            ol {
                margin: 0 0 0.7rem;
            }
        }

        .forceCommunityTopArticleList {
            padding-top: 1.5rem;
        }

        .forcePageBlockSection .slds-form-element .slds-form-element__control,
        .forcePageBlockSection .slds-form-element:not([class*="slds-size"]) {
            padding: 0.5rem 0;
        }

        .forceCommunityTopicDescription .header-label,
        .forceCommunityHeadline .headlineTitle,
        .selfServiceTopicTrendingArticles42 > h2,
        .forceCommunityKnowledgeablePeople .knowledgeablePeopleHeader {
            text-transform: none;
        }

        .forceCommunityHeadline .headlineTitle {
            text-align: left;
        }

        .forceImageRelatedListStencil .itemRows {
            padding: 1rem 0;
        }

        .forceRecordLayout .forceListRecordItem {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
    // end &.Shield

    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************

    // ****************************** PERSPECTIVE ************************

    &.Perspective {
        // ****************** Header & primary navigation *******************

        .singleBarHeader-fixed {
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.24);
        }

        .forceCommunityGlobalNavigation
            nav
            > .comm-navigation__list
            > li:first-child {
            // Hide the "Home" link
            display: none;
        }

        // Mobile nav

        .cPeak_Uber_Theme_SingleBarHeader
            .forceCommunityGlobalNavigation
            .slds-list_vertical {
            background-color: @white;
        }

        .forceCommunityGlobalNavigation
            community_navigation-global-navigation-list
            > .slds-grid {
            @media (max-width: @screen-sm-max) {
                justify-content: flex-end;
                padding: 0;
            }
        }

        .forceCommunityGlobalNavigation
            .slds-is-fixed
            > .slds-list_vertical
            a
            * {
            padding-left: 0;
        }

        // ******************* TwoBarSearchFocused area **********

        .cPeak_Uber_Theme_TwoBarSearchFocused {
            @media (min-width: @screen-md-min) {
                height: 580px;
            }
        }

        .cTwoBarContent {
            @media (min-width: @screen-md-min) {
                padding: 3rem 5%;
            }
        }

        // *********************** Tabs ***********************

        .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
            text-transform: none;
        }

        // *********************** 7S Banner **********************

        .cPeak_Banner .peak-banner {
            color: @white;
        }

        // ****************** Featured Topics (Salesforce OOTB component) *****************

        .forceTopicFeaturedTopics .topicContent {
            background-color: @brandPersPurple;

            &:hover {
                background-color: @brandPersDarkPurple;
            }
        }

        // ****************** Stream List (Salesforce OOTB component) *****************

        .forceCommunityStreamList > div > .slds-text-heading_medium {
            @media (max-width: @screen-sm-max) {
                font-size: 3.6rem;
                font-weight: 600;
                line-height: 1.2;
            }
        }

        // ****************** Create Record Form (Salesforce OOTB component) *************

        .forceCommunityCreateRecordForm .headerLabel {
            text-transform: none;
            text-align: left;
            margin: 1rem 0 1.5rem;
        }

        // ****************** 7S Calls to Action ********************

        .cPeak_CallsToAction .componentWrapper > .baseLayout > a {
            div {
                background-color: @brandPersPurple;
            }

            &:hover div {
                background-color: @brandPersDarkPurple;
            }
        }

        // *********************** Articles ****************

        .selfServiceSimilarArticles42 > h2,
        .selfServiceTopicTrendingArticles42 > h2 {
            text-transform: none !important;
        }
    } // end &.Perspective

    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************

    // ****************************** INTRA *************************

    &.Intra {
        // ****************** Header & primary navigation ***************

        .cSingleBarHeaderContent {
            padding-bottom: 5px;

            .actions .login-link {
                @media (min-width: @screen-md-min) {
                    display: inline-block;
                    margin-bottom: 11px;
                }
            }
        }

        .cPeak_Uber_Theme_SingleBarHeader .content .contentBody {
            @media (min-width: @screen-md-min) {
                align-items: flex-end;
            }
        }

        .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu,
        .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation,
        .forceCommunityGlobalNavigation nav > .comm-navigation__list {
            justify-content: flex-end;
        }

        .forceCommunityGlobalNavigation nav > .comm-navigation__list {
            // Hide the "Home" link
            & > li:first-child {
                display: none;
            }
        }

        .forceCommunityGlobalNavigation
            li[is="community_navigation-global-navigation-list-item"] {
            padding: 0 1rem;
        }

        // Mobile nav

        .forceCommunityGlobalNavigation {
            svg {
                fill: @white;
            }

            community_navigation-global-navigation-trigger button {
                &,
                &:active {
                    color: @brandIntraGray;
                }
            }
        }

        .forceCommunityGlobalNavigation
            community_navigation-global-navigation-list
            > .slds-grid {
            @media (max-width: @screen-sm-max) {
                justify-content: flex-end;
                padding-right: 0;
            }
        }

        // ********************** TwoBarSearchFocused area ****************

        .cTwoBarContent {
            @media (min-width: @screen-md-min) {
                padding: 4rem 5% 8rem;
            }
        }

        // *********************** 7S Banner *****************

        .cPeak_Banner .peak-banner {
            color: @white;
        }

        // *********************** Tabs **********************

        .uiTabset--default .tabs__item,
        .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
            text-transform: none;
        }

        // ****************** Featured Topics (Salesforce OOTB component) *****************

        .forceTopicFeaturedTopics .topicContent {
            background-color: @brandIntraPurple;

            &:hover {
                background-color: @brandIntraBlue;
            }
            .topicLabel {
                color: @white;
                font-weight: 400;
            }
        }

        // ****************** 7S Calls to Action ******************

        .cPeak_CallsToAction .componentWrapper > .baseLayout > a div {
            background-color: @brandIntraPurple;
        }

        .cPeak_CallsToAction .componentWrapper > .baseLayout > a:hover div {
            background-color: @brandIntraBlue;
        }

        // ****************** Stream List (Salesforce OOTB component) ************

        .forceCommunityStreamList > div > .slds-text-heading_medium {
            @media (max-width: @screen-sm-max) {
                font-size: 3.6rem;
            }
        }
    } // end &.Intra

    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************
    // ******************************

    // ****************************** TRAINER *************************

    &.Trainer {
        // *********************** Header & primary navigation ********************

        .singleBarHeader-fixed {
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.24);
        }

        .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu,
        .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation,
        .forceCommunityGlobalNavigation nav > .comm-navigation__list {
            justify-content: flex-end;
        }

        .forceCommunityGlobalNavigation nav > .comm-navigation__list {
            // Hide the "Home" link
            & > li:first-child {
                display: none;
            }
        }

        .forceCommunityGlobalNavigation
            .slds-list_horizontal
            > .slds-list__item
            > .slds-is-nested {
            background-color: @white;
        }

        // Logo

        @media screen and (max-width: 48em) {
            .cPeak_Uber_Theme_SingleBarHeader .logo {
                max-width: 100%;
            }
        }

        .cPeak_Uber_Theme_SingleBarHeader .logo_link {
            height: 30px;

            @media (min-width: @screen-md-min) {
                width: 150px;
            }
        }

        // Mobile nav

        .forceCommunityGlobalNavigation
            community_navigation-global-navigation-list
            > .slds-grid {
            @media (max-width: @screen-sm-max) {
                justify-content: flex-end;
                padding-right: 0;
            }
        }

        .forceCommunityGlobalNavigation
            .slds-is-fixed
            > .slds-list_vertical
            a
            * {
            //padding-left: 0;
        }

        .cPeak_Uber_Theme_SingleBarHeader
            .forceCommunityGlobalNavigation
            .slds-list_vertical {
            @media (max-width: @screen-sm-max) {
                background-color: @brandTrainerLightGray;
            }
        }

        // ********************** TwoBarSearchFocused area ************

        .cTwoBarContent {
            @media (min-width: @screen-md-min) {
                padding: 4rem 5% 8rem;
            }
        }

        // Hide search bar

        .cPeak_Uber_Theme_TwoBarSearchFocused .content .search {
            display: none;
        }

        // ******************* Footer ************************

        .cFooterCol {
            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }

        // ****************** Tabs ************************

        .uiTabset--default .tabs__item,
        .forceCommunityTabset .uiTabBar .uiTabItem .tabHeader {
            text-transform: none;
        }

        // ****************** Featured Topics (Salesforce OOTB component) *******************

        .forceTopicFeaturedTopics .topicContent {
            &:hover {
                background-color: @brandTrainerDarkGray;
            }

            .topicLabel {
                font-weight: 400;
            }
        }

        // ****************** 7S Calls to Action ******************

        .cPeak_CallsToAction .componentWrapper > .baseLayout > a {
            div {
                background-color: @brandTrainerMedGray;
            }

            &:hover div {
                background-color: @brandTrainerDarkGray;
            }
        }

        // *********************** 7S Banner ******************

        .cPeak_Banner .peak-banner {
            color: @white;
        }

        // *********************** Articles ****************

        .forceCommunityTopArticleListForTopic .topicHeaderLink {
            text-transform: none;
        }

        // ****************** Stream List (Salesforce OOTB component) **************

        .forceCommunityStreamList > div > .slds-text-heading_medium {
            @media (max-width: @screen-sm-max) {
                font-size: 2.8rem;
            }
        }
    }
}
