@import "../_base/components-common";
.THIS {
    min-height: 50px; // approximate height of button plus padding (so there's no flash of no-height before contents render)

    background-color: @bgColor;

    .slds-container--x-large,
    .slds-container_x-large {
        max-width: @napili-max; // match the Napili default, 80rem is what this normal is and it's too wide
    }

    a {
        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
        &:link,
        &:visited {
            color: @inverseTextColor;
            svg {
                fill: @white;
            }
        }

        &:hover,
        &:active {
            color: @inverseTextColor;
            svg {
                fill: @white;
            }
        }
    }

    .navHamburger {
        display: none;
        @media screen and (max-width: 767px) {
            display: inline;

            height: 50px;

            text-align: right;
        }
        ~ .cPeak_NavigationLink {
            @media screen and (max-width: 767px) {
                height: 0;

                opacity: 0;
            }
            a {
                opacity: 1;
            }
        }
    }
    .slds-icon-utility-rows {
        width: 20px;

        opacity: 1;
        svg {
            display: inline-block;
        }
    }
    .slds-icon-utility-close {
        width: 0;

        opacity: 0;
        svg {
            display: none;
        }
    }
    .showNav {
        .slds-icon-utility-close {
            width: 20px;

            opacity: 1;

            .transition(opacity 0.5s ease-out);

            svg {
                display: inline-block;

                fill: @white;
            }
        }
        .slds-icon-utility-rows {
            width: 0;

            opacity: 0;

            .transition(opacity 0.5s ease-out);
            svg {
                display: none;
            }
        }
        .cPeak_NavigationLink {
            z-index: 10;

            display: block;

            width: 50%;

            border-bottom: 1px solid @borderColor;
            @media screen and (max-width: 767px) {
                width: 100%;
                height: 50px;

                opacity: 1;
                color: @textColor;
                background-color: @white;

                .transition(all 0.35s ease-out);
            }
            a {
                @media screen and (max-width: 767px) {
                    display: block;

                    opacity: 1;
                    color: @textColor;
                    background-color: @white;
                }
            }
        }
    }

    .cPeak_NavigationList {
        @media screen and (max-width: 767px) {
            position: absolute;
            z-index: 100;
            top: 0;

            width: 100%;
        }
        .cPeak_NavigationLink {
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
}
