.THIS {
    .componentWrapper {
        h1 {
            font-size: 1.5rem;
        }
        > .baseLayout > a {
            position: relative;

            overflow: hidden;

            color: token(colorTextLink);
            border-right: 2px solid transparent;
            @media screen and (max-width: 767px) {
                border-right: none;
                //border-bottom: 2px solid transparent;
            }
            @media screen and (max-width: 1023px) {
                border-bottom: 2px solid transparent;
                &.noBorder {
                    border-bottom: none;
                }
            }
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                &.medBorder {
                    border-bottom: none;
                }
            }
            div {
                position: absolute;
                z-index: 1;

                width: 100%;
                height: 100%;
                min-height: 150px;

                transition: all 0.5s;

                background-color: token(colorBrand);
                background-repeat: no-repeat;
                background-position: 50%;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: none;

                    width: 100%;
                    height: 100%;

                    opacity: 0.5;
                    &.true {
                        display: block;
                    }
                }
            }
            p {
                position: relative;
                z-index: 1;

                height: 100%;
                margin: auto;
            }
            &:hover {
                text-decoration: none;
                div {
                    transition: all 0.5s;
                    transform: scale(1.2);
                }
            }
            &:last-child {
                border: none;
            }
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6),
            &:nth-child(8) {
                @media screen and (max-width: 1023px) {
                    border-right: none;
                }
            }
            &.dark {
                div {
                    .overlay {
                        display: block;

                        background-color: #000;
                    }
                }
            }
            &.light {
                div {
                    .overlay {
                        display: block;

                        background-color: #fff;
                    }
                }
            }
        }
        > .iconLayout {
            @media screen and (max-width: 1023px) {
                -webkit-box-pack: start;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }
            .item {
                @media screen and (max-width: 1023px) {
                    &.medPad {
                        padding-top: 1.25rem;
                    }
                }
                @media screen and (max-width: 767px) {
                    &.smallPad {
                        padding-top: 1.25rem;
                    }
                }
                a {
                    display: inline-block;
                    > div {
                        overflow: hidden;
                        //width: 75px;
                        //height: 75px;

                        margin: auto;

                        border-radius: 50%;
                        background-color: token(colorBrand);
                        p {
                            font-size: 1em;
                        }
                        .slds-icon,
                        img {
                            width: 56%;
                            height: 56%;

                            fill: currentColor;
                        }
                        .slds-icon_container {
                            background-color: inherit;
                        }
                    }
                    p {
                        font-size: 0.875rem;
                    }
                    &:hover {
                        text-decoration: none;
                        > p {
                            text-decoration: underline;
                        }
                    }
                }
                &.tenItems {
                    @media screen and (min-width: 64em) {
                        width: 10%;
                    }
                }
                &.nineItems {
                    @media screen and (min-width: 64em) {
                        width: 11.11111111111111%;
                    }
                }
            }
        }
        &.borderTop {
            border-top: 2px solid transparent;
        }
        &.borderBottom {
            border-bottom: 2px solid transparent;
        }
    }
}
