@import "../_base/components-common";
.THIS {
    hr {
        margin: 1em 0;
    }
    .event {
        .date {
            text-transform: uppercase;
            .dow {
                font-size: 3.5rem;
                line-height: 3rem;

                margin-left: -0.5rem; // tighten letter spacing, which screws up centering, so restore with this

                letter-spacing: -0.5rem;
            }
            .month {
                line-height: 1rem;

                margin-left: 0.25rem; // help out with centering
            }
        }
    }
}
