@import "animations";
@import "buttons-mixin";
@import "icon-mixins";
@import "css3";
@import "links";
@import "overlay";
@import "stencils";
@import "typography";

@transparentBorderBottom: {
    &:after {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;

        height: 2px;

        content: " ";

        @grayTransparencyBG();
    }
};

// Fixed ratio mixin!
.box(@heightRatio) {
    position: relative;

    width: 100%;

    &:after {
        display: block;

        padding-bottom: @heightRatio;

        content: "";
    }

    .inner {
        position: absolute;

        display: block;

        width: 100%;
        height: 100%;

        &.flex {
            display: flex;
        }
    }
}

// https://davidwalsh.name/css-flip
@flipCard: {
    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;
    }
    /* flip the pane when hovered */
    .flip-container:hover .flipper,
    .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

    .flip-container,
    .front,
    .back {
        width: 100%;
        height: 100%;
    }

    /* flip speed goes here */
    .flipper {
        position: relative;

        height: 100%;

        transition: 0.6s;

        transform-style: preserve-3d;
    }

    /* hide back of pane during swap */
    .front,
    .back {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        height: 100%;

        backface-visibility: hidden;
    }

    /* front pane, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */

        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }
};

@tableHeader: {
    font-weight: bold;

    padding-top: @paddingSmall;
    padding-bottom: @paddingSmall;

    background: @borderColor;
};

@grayTransparencyBG: {
    opacity: 0.2;
    background: @darkGray;
};

@grayTransparencyText: {
    opacity: 0.2;
    color: @darkGray;
};
