// ===================
// Gradient
// ===================
.gradient (@startColor: #eee, @endColor: #fff) {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(@startColor),
        to(@endColor)
    );
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
    background: linear-gradient(to bottom, @startColor, @endColor);
    background-color: @startColor;
}

// ===================
// Transitions / Animations
// ===================
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    transition: @transition;
}

.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}
