.bannerOverlay() {
    .peak-banner-overlay {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: " ";
    }

    .slds-grid {
        position: relative;
        z-index: 1;
    }
}
