.bannerHeaders() {
    h1 {
        font-size: 1.75rem;

        @media (min-width: @screen-md-min) {
            font-size: 3.75rem;
        }
    }

    h2 {
        font-size: 1.2rem;

        @media (min-width: @screen-md-min) {
            font-size: 2.75rem;
        }
    }
}

.gjOutlineTypography() {
    h1 {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    h3 {
        font-size: 1.17rem;
        font-weight: 700;
    }
    h4 {
        font-size: 1.125rem;
        font-weight: 500;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.6;
    }

    .p1 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.gjShieldTypography() {
    h1 {
        font-size: 3.3rem;
        font-weight: 600;
        line-height: 1.2;

        @media (min-width: 48rem) {
            font-size: 4rem;
        }
    }
    h2 {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.1;

        @media (min-width: 48rem) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 2rem;
        font-weight: 300;
    }
    h4 {
        font-size: 0.88rem;
        font-weight: 700;
    }

    p {
        font-size: 0.88rem;
        line-height: 1.6;
    }

    .p1 {
        font-size: 1.5rem;
    }

    .cShieldList {
        margin: 0;
        padding: 0;

        li {
            &::before {
                content: none;
            }

            & > a::after {
                content: "\003e";
                color: @color;
                padding-left: 0.3rem;
            }
            & > a:hover::after {
                color: @black;
            }
        }
    }

    // Component-specific styles

    .forceCommunityTopArticleListForTopic h2 {
        font-size: 1.5rem;
    }

    .selfServiceSimilarQuestions h2 {
        font-size: 1.9rem;
    }
}

.gjPersTypography() {
    h1 {
        font-size: 3.3rem;
        line-height: 1.2;

        @media (min-width: 48rem) {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: 2.8rem;
        line-height: 1.1;

        @media (min-width: 48rem) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.17rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.6;
    }

    .p1 {
        font-size: 2rem;
        font-weight: 400;
    }
}

.gjIntraTypography() {
    h1,
    h2,
    h3 {
        font-weight: 400;
    }

    h1 {
        font-size: 3.3rem;
        line-height: 1.2;

        @media (min-width: 48rem) {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: 2.8rem;
        line-height: 1.1;

        @media (min-width: 48rem) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.17rem;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 500;
    }

    p {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.6;
    }

    .p1 {
        font-size: 1.5rem;
    }
}

.gjTrainerTypography() {
    h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.2;

        @media (min-width: 48rem) {
            font-size: 4rem;
        }
    }

    h2 {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 1.1;

        @media (min-width: 48rem) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 300;

        @media (min-width: 48rem) {
            font-size: 2rem;
        }
    }

    h4 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    p {
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.6;
    }

    .p1 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .slds-text-heading_medium {
        margin-bottom: 0.5rem;
    }
}
