/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .cHeaderPanel
{
    background-color: #eee;
    background-image: t('url(' + headerImageUrl  + ')');
}
.THIS .cBrandingLogo
{
    background-image: t('url(' + brandLogoImage + ')');
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS button {
  transition: all 0.33s !important;
}
.THIS .slds-button_brand,
.THIS .slds-button--brand,
.THIS .uiButton--brand,
.THIS .slds-button_neutral,
.THIS .slds-button--neutral,
.THIS .slds-button_inverse {
  /*
	slds-button--neutral
	slds-button--brand
	slds-button--inverse
	*/
  font-size: 100%;
  transition: all 0.33s;
}
.THIS .slds-button_inverse:link,
.THIS .slds-button_inverse:visited {
  color: token(inverseTextColor);
}
.THIS .slds-button_inverse:hover,
.THIS .slds-button_inverse:active {
  color: token(inverseTextColor);
}
.THIS .CCEVENTSLCSVNSUMMITS_Events_Header .slds-button,
.THIS .CCEVENTSLCSVNSUMMITS_Event_Filter .slds-button,
.THIS .CCNEWSLCSVNSUMMITS_News_DisplayMode .slds-button {
  line-height: 2rem;
  padding: 4px 16px;
}
.THIS.Outline .slds-button,
.THIS.Outline .uiButton--brand {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: none;
  border-radius: 5px;
}
.THIS.Outline .slds-button_neutral,
.THIS.Outline .slds-button--neutral,
.THIS.Outline .oneActionsRibbon li.slds-button--neutral > a {
  color: #337a73;
}
.THIS.Outline .slds-button_brand,
.THIS.Outline .slds-button--brand,
.THIS.Outline .uiButton--brand {
  color: token(textColor);
}
.THIS.Outline .slds-button_brand:hover,
.THIS.Outline .slds-button--brand:hover,
.THIS.Outline .uiButton--brand:hover,
.THIS.Outline .slds-button_brand:active,
.THIS.Outline .slds-button--brand:active,
.THIS.Outline .uiButton--brand:active {
  background-color: #a6edd9;
  border-color: #a6edd9;
}
.THIS.Outline .slds-button_icon-container.slds-is-selected,
.THIS.Outline .slds-button--icon-container.slds-is-selected,
.THIS.Outline .slds-button_icon-border.slds-is-selected,
.THIS.Outline .slds-button--icon-border.slds-is-selected,
.THIS.Outline .slds-button_icon-border-filled.slds-is-selected,
.THIS.Outline .slds-button_icon-border-inverse.slds-is-selected {
  background-color: #368175;
  border-color: #368175;
}
.THIS.Shield .slds-button,
.THIS.Shield .slds-button_brand,
.THIS.Shield .slds-button--brand,
.THIS.Shield .uiButton--brand {
  font-weight: 400;
  border-radius: 0;
  text-transform: none;
}
.THIS.Perspective button,
.THIS.Perspective .slds-button,
.THIS.Perspective .uiButton--brand {
  border-radius: 0 !important;
  text-transform: none;
}
.THIS.Perspective .slds-button_brand,
.THIS.Perspective .slds-button--brand,
.THIS.Perspective .uiButton--brand {
  background-color: #fff;
  border-color: #5902d2;
  color: #5902d2;
}
.THIS.Perspective .slds-button_brand:hover,
.THIS.Perspective .slds-button--brand:hover,
.THIS.Perspective .uiButton--brand:hover,
.THIS.Perspective .slds-button_brand:active,
.THIS.Perspective .slds-button--brand:active,
.THIS.Perspective .uiButton--brand:active {
  background-color: #5902d2;
  color: #fff;
}
.THIS.Perspective .forceCommunityCreateRecordForm .button,
.THIS.Perspective .forceCommunityAskCommunity.askCommunityBtn {
  border: 1px solid #5902d2;
}
.THIS.Intra button,
.THIS.Intra .slds-button,
.THIS.Intra .uiButton--brand {
  border-radius: 0 !important;
}
.THIS.Intra .slds-button_brand,
.THIS.Intra .slds-button--brand,
.THIS.Intra .uiButton--brand {
  font-weight: 400;
  border: 1px solid token(brandColor);
}
.THIS.Intra .slds-button_brand,
.THIS.Intra .slds-button--brand,
.THIS.Intra .uiButton--brand,
.THIS.Intra .slds-button_brand:hover,
.THIS.Intra .slds-button--brand:hover,
.THIS.Intra .uiButton--brand:hover,
.THIS.Intra .slds-button_brand:active,
.THIS.Intra .slds-button--brand:active,
.THIS.Intra .uiButton--brand:active,
.THIS.Intra .slds-button_brand:focus,
.THIS.Intra .slds-button--brand:focus,
.THIS.Intra .uiButton--brand:focus {
  background-color: #fff;
  color: token(brandColor);
}
.THIS.Intra a.slds-button:hover,
.THIS.Intra a.slds-button:active,
.THIS.Intra a.slds-button:focus {
  text-decoration: none;
}
.THIS.Intra .slds-button_neutral,
.THIS.Intra .slds-button--neutral {
  color: #757575;
}
.THIS.Trainer button,
.THIS.Trainer .slds-button,
.THIS.Trainer .uiButton--brand {
  font-weight: 400;
  text-transform: none;
  border-radius: 0 !important;
}
.THIS button[disabled],
.THIS button:disabled,
.THIS .slds-button_brand[disabled],
.THIS .slds-button_brand:disabled,
.THIS .slds-button--brand[disabled],
.THIS .slds-button--brand:disabled,
.THIS .slds-button_neutral[disabled],
.THIS .slds-button_neutral:disabled,
.THIS .slds-button--neutral[disabled],
.THIS .slds-button--neutral:disabled,
.THIS button[disabled]:hover,
.THIS button:disabled:hover,
.THIS .slds-button_brand[disabled]:hover,
.THIS .slds-button_brand:disabled:hover,
.THIS .slds-button--brand[disabled]:hover,
.THIS .slds-button--brand:disabled:hover,
.THIS .slds-button_neutral[disabled]:hover,
.THIS .slds-button_neutral:disabled:hover,
.THIS .slds-button--neutral[disabled]:hover,
.THIS .slds-button--neutral:disabled:hover {
  background-color: #fff;
  border-color: #bdbdbd;
  color: #bdbdbd;
}
.THIS .cPeak_KnowledgeFilter .peak_knowledgeFilter__pager button[disabled] .slds-icon_container svg {
  fill: #bdbdbd !important;
}
.THIS.Outline button[disabled],
.THIS.Outline button:disabled,
.THIS.Outline .slds-button_brand[disabled],
.THIS.Outline .slds-button_brand:disabled,
.THIS.Outline .slds-button--brand[disabled],
.THIS.Outline .slds-button--brand:disabled,
.THIS.Outline .slds-button_neutral[disabled],
.THIS.Outline .slds-button_neutral:disabled,
.THIS.Outline .slds-button--neutral[disabled],
.THIS.Outline .slds-button--neutral:disabled,
.THIS.Outline button[disabled]:hover,
.THIS.Outline button:disabled:hover,
.THIS.Outline .slds-button_brand[disabled]:hover,
.THIS.Outline .slds-button_brand:disabled:hover,
.THIS.Outline .slds-button--brand[disabled]:hover,
.THIS.Outline .slds-button--brand:disabled:hover,
.THIS.Outline .slds-button_neutral[disabled]:hover,
.THIS.Outline .slds-button_neutral:disabled:hover,
.THIS.Outline .slds-button--neutral[disabled]:hover,
.THIS.Outline .slds-button--neutral:disabled:hover {
  background-color: #eee;
  border-color: #eee;
  color: #848b8e;
}
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__pager button[disabled] .slds-icon_container svg {
  fill: #848b8e !important;
}
.THIS.Outline h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}
.THIS.Outline h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.THIS.Outline h3 {
  font-size: 1.17rem;
  font-weight: 700;
}
.THIS.Outline h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.THIS.Outline p {
  font-size: 1.125rem;
  line-height: 1.6;
}
.THIS.Outline .p1 {
  font-size: 2rem;
  font-weight: 400;
}
.THIS.Outline .cSubHeadline {
  padding-top: 1.6rem;
}
.THIS.Shield h1 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Shield h1 {
    font-size: 4rem;
  }
}
.THIS.Shield h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Shield h2 {
    font-size: 3rem;
  }
}
.THIS.Shield h3 {
  font-size: 2rem;
  font-weight: 300;
}
.THIS.Shield h4 {
  font-size: 0.88rem;
  font-weight: 700;
}
.THIS.Shield p {
  font-size: 0.88rem;
  line-height: 1.6;
}
.THIS.Shield .p1 {
  font-size: 1.5rem;
}
.THIS.Shield .cShieldList {
  margin: 0;
  padding: 0;
}
.THIS.Shield .cShieldList li::before {
  content: none;
}
.THIS.Shield .cShieldList li > a::after {
  content: "\003e";
  color: token(linkColor);
  padding-left: 0.3rem;
}
.THIS.Shield .cShieldList li > a:hover::after {
  color: #000;
}
.THIS.Shield .forceCommunityTopArticleListForTopic h2 {
  font-size: 1.5rem;
}
.THIS.Shield .selfServiceSimilarQuestions h2 {
  font-size: 1.9rem;
}
.THIS.Shield .cSubHeadline {
  padding-top: 0.4rem;
}
.THIS.Perspective h1 {
  font-size: 3.3rem;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Perspective h1 {
    font-size: 4rem;
  }
}
.THIS.Perspective h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Perspective h2 {
    font-size: 3rem;
  }
}
.THIS.Perspective h3 {
  font-size: 1.17rem;
}
.THIS.Perspective h4 {
  font-size: 1.125rem;
}
.THIS.Perspective p {
  font-size: 1.125rem;
  line-height: 1.6;
}
.THIS.Perspective .p1 {
  font-size: 2rem;
  font-weight: 400;
}
.THIS.Intra h1,
.THIS.Intra h2,
.THIS.Intra h3 {
  font-weight: 400;
}
.THIS.Intra h1 {
  font-size: 3.3rem;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Intra h1 {
    font-size: 4rem;
  }
}
.THIS.Intra h2 {
  font-size: 2.8rem;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Intra h2 {
    font-size: 3rem;
  }
}
.THIS.Intra h3 {
  font-size: 1.17rem;
}
.THIS.Intra h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.THIS.Intra p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}
.THIS.Intra .p1 {
  font-size: 1.5rem;
}
.THIS.Trainer h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 48rem) {
  .THIS.Trainer h1 {
    font-size: 4rem;
  }
}
.THIS.Trainer h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1;
}
@media (min-width: 48rem) {
  .THIS.Trainer h2 {
    font-size: 3rem;
  }
}
.THIS.Trainer h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
@media (min-width: 48rem) {
  .THIS.Trainer h3 {
    font-size: 2rem;
  }
}
.THIS.Trainer h4 {
  font-size: 1.125rem;
  font-weight: 700;
}
.THIS.Trainer p {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}
.THIS.Trainer .p1 {
  font-size: 1.5rem;
  font-weight: 400;
}
.THIS.Trainer .slds-text-heading_medium {
  margin-bottom: 0.5rem;
}
.THIS a:link,
.THIS a:visited {
  transition: all 0.33s;
}
.THIS a:link svg,
.THIS a:visited svg {
  fill: token(linkColor);
}
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topics a:hover,
.THIS .cSVNSUMMITS_News_Detail_Header .topic a:hover,
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topics a:active,
.THIS .cSVNSUMMITS_News_Detail_Header .topic a:active,
.THIS .cSVNSUMMITS_News_Tile .featuredNews .content .topics a:focus,
.THIS .cSVNSUMMITS_News_Detail_Header .topic a:focus {
  color: token(textColor);
  text-decoration: none;
}
.THIS.Outline .cFooterLink,
.THIS.Outline .topicHeaderLink,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a,
.THIS.Outline .notInterestedLink,
.THIS.Outline .forceCommunityUserSettings .changepassword,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
  line-height: 1.7;
  padding-bottom: 2px;
  border-bottom: 1px solid #5bdebf;
}
.THIS.Outline .cFooterLink:hover,
.THIS.Outline .topicHeaderLink:hover,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:hover,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:hover,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:hover,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a:hover,
.THIS.Outline .notInterestedLink:hover,
.THIS.Outline .forceCommunityUserSettings .changepassword:hover,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top:hover,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL:hover,
.THIS.Outline .cFooterLink:active,
.THIS.Outline .topicHeaderLink:active,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:active,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:active,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:active,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a:active,
.THIS.Outline .notInterestedLink:active,
.THIS.Outline .forceCommunityUserSettings .changepassword:active,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top:active,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL:active,
.THIS.Outline .cFooterLink:focus,
.THIS.Outline .topicHeaderLink:focus,
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:focus,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:focus,
.THIS.Outline .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:focus,
.THIS.Outline .cSVNSUMMITS_News_Tile .newsName a:focus,
.THIS.Outline .notInterestedLink:focus,
.THIS.Outline .forceCommunityUserSettings .changepassword:focus,
.THIS.Outline .forceCommunityTopicCatalog .topicHierarchy-top:focus,
.THIS.Outline .forceSearchSearchResultsGridHeader h2 .uiOutputURL:focus {
  text-decoration: none;
  border-bottom: 1px solid token(textColor);
}
.THIS.Outline .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a {
  font-weight: normal;
}
.THIS.Outline .cFeatureLink {
  color: #5bdebf;
  padding-bottom: 0.4rem;
  border-bottom: 0.25rem solid #5bdebf;
}
.THIS.Outline .cFeatureLink:hover,
.THIS.Outline .cFeatureLink:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.25rem solid #fff;
}
.THIS.Shield .peak-body a,
.THIS.Shield footer li a,
.THIS.Shield .cShieldFeatureGrid a {
  font-weight: 300;
}
.THIS.Shield .peak-body a:hover,
.THIS.Shield footer li a:hover,
.THIS.Shield .cShieldFeatureGrid a:hover,
.THIS.Shield .peak-body a:active,
.THIS.Shield footer li a:active,
.THIS.Shield .cShieldFeatureGrid a:active,
.THIS.Shield .peak-body a:focus,
.THIS.Shield footer li a:focus,
.THIS.Shield .cShieldFeatureGrid a:focus {
  color: #000;
  text-decoration: none;
}
.THIS.Shield a.slds-button,
.THIS.Shield a.slds-button_brand,
.THIS.Shield a.slds-button--brand,
.THIS.Shield a.slds-button:hover,
.THIS.Shield a.slds-button_brand:hover,
.THIS.Shield a.slds-button--brand:hover,
.THIS.Shield a.slds-button:active,
.THIS.Shield a.slds-button_brand:active,
.THIS.Shield a.slds-button--brand:active,
.THIS.Shield a.slds-button:focus,
.THIS.Shield a.slds-button_brand:focus,
.THIS.Shield a.slds-button--brand:focus {
  font-weight: 400;
}
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item button {
  color: #3d3d3d;
  text-transform: none;
}
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]),
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item a:hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover,
.THIS.Shield .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]) {
  background-color: rgba(0, 0, 0, 0.1);
}
.THIS.Shield .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a {
  background-color: #fff;
  color: token(textColor);
  font-weight: 500;
  border: 1px solid token(borderColor);
  border-radius: 0;
  padding: 0.6rem 1rem;
}
.THIS.Shield .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a:hover,
.THIS.Shield .forceTopicSimpleTopicAssignments .topic-commaSeparatedList li > a:active {
  background-color: rgba(158, 158, 158, 0.2);
}
.THIS.Shield .forceChatterFeedBodyText .fadeOut {
  display: inline-block;
  width: auto;
  border-bottom: 1px solid transparent;
  margin-top: 0.4rem;
}
.THIS.Shield .forceChatterFeedBodyText .fadeOut > div {
  display: inline;
}
.THIS.Shield .forceCommunityRichText a.slds-button:hover {
  color: #fff;
}
.THIS.Perspective .peak-body a:hover,
.THIS.Perspective footer li a:hover,
.THIS.Perspective .peak-body a:active,
.THIS.Perspective footer li a:active,
.THIS.Perspective .peak-body a:focus,
.THIS.Perspective footer li a:focus {
  color: #000;
  text-decoration: none;
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item button {
  font-family: "Roboto Mono", monospace;
  text-transform: none;
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]) {
  background: none;
  color: #5902d2;
}
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Perspective .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]) {
  background-color: rgba(0, 0, 0, 0.04);
  color: #5902d2;
}
.THIS.Intra .cFooterLink,
.THIS.Intra .topicHeaderLink,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a,
.THIS.Intra .notInterestedLink,
.THIS.Intra .forceCommunityUserSettings .changepassword,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
  line-height: 1.7;
  padding-bottom: 2px;
  border-bottom: 1px solid #536dfe;
}
.THIS.Intra .cFooterLink:hover,
.THIS.Intra .topicHeaderLink:hover,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:hover,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:hover,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:hover,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a:hover,
.THIS.Intra .notInterestedLink:hover,
.THIS.Intra .forceCommunityUserSettings .changepassword:hover,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top:hover,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL:hover,
.THIS.Intra .cFooterLink:active,
.THIS.Intra .topicHeaderLink:active,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:active,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:active,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:active,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a:active,
.THIS.Intra .notInterestedLink:active,
.THIS.Intra .forceCommunityUserSettings .changepassword:active,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top:active,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL:active,
.THIS.Intra .cFooterLink:focus,
.THIS.Intra .topicHeaderLink:focus,
.THIS.Intra .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:focus,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:focus,
.THIS.Intra .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:focus,
.THIS.Intra .cSVNSUMMITS_News_Tile .newsName a:focus,
.THIS.Intra .notInterestedLink:focus,
.THIS.Intra .forceCommunityUserSettings .changepassword:focus,
.THIS.Intra .forceCommunityTopicCatalog .topicHierarchy-top:focus,
.THIS.Intra .forceSearchSearchResultsGridHeader h2 .uiOutputURL:focus {
  text-decoration: none;
  border-bottom: 1px solid token(textColor);
}
.THIS.Intra .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Intra .forceCommunityGlobalNavigation .slds-list__item button {
  text-transform: none;
}
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu .menuItemLink,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation .menuItemLink,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityNavigationMenu ul.comm-navigation__list li a,
.THIS.Intra .cPeak_Uber_Theme_SingleBarHeader .forceCommunityGlobalNavigation ul.comm-navigation__list li a {
  color: rgba(255, 255, 255, 0.87);
  padding: 7px 0;
  margin-bottom: 3px;
  border-bottom: 2px solid transparent;
}
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Intra .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]) {
  border-bottom: 2px solid #536dfe;
}
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > a:hover,
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > button:hover,
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > a:focus,
.THIS.Intra .oneActionsRibbon li.slds-button--neutral > button:focus {
  background-color: #fff;
}
.THIS.Trainer .cFooterLink,
.THIS.Trainer .topicHeaderLink,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a,
.THIS.Trainer .notInterestedLink,
.THIS.Trainer .forceCommunityUserSettings .changepassword,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL {
  line-height: 1.7;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.THIS.Trainer .cFooterLink:hover,
.THIS.Trainer .topicHeaderLink:hover,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:hover,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:hover,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:hover,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a:hover,
.THIS.Trainer .notInterestedLink:hover,
.THIS.Trainer .forceCommunityUserSettings .changepassword:hover,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top:hover,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL:hover,
.THIS.Trainer .cFooterLink:active,
.THIS.Trainer .topicHeaderLink:active,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:active,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:active,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:active,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a:active,
.THIS.Trainer .notInterestedLink:active,
.THIS.Trainer .forceCommunityUserSettings .changepassword:active,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top:active,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL:active,
.THIS.Trainer .cFooterLink:focus,
.THIS.Trainer .topicHeaderLink:focus,
.THIS.Trainer .cPeak_KnowledgeFilter .peak_knowledgeFilter__results table tbody tr th a:focus,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .topic a:focus,
.THIS.Trainer .cSVNSUMMITS_Events_Tile .featuredEvent .content .name a:focus,
.THIS.Trainer .cSVNSUMMITS_News_Tile .newsName a:focus,
.THIS.Trainer .notInterestedLink:focus,
.THIS.Trainer .forceCommunityUserSettings .changepassword:focus,
.THIS.Trainer .forceCommunityTopicCatalog .topicHierarchy-top:focus,
.THIS.Trainer .forceSearchSearchResultsGridHeader h2 .uiOutputURL:focus {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button {
  text-transform: none;
}
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > a.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list_horizontal > .slds-list__item > button.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a:hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item a.slds-is-active:not([data-type="home"]),
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]):hover,
.THIS.Trainer .forceCommunityGlobalNavigation .slds-list__item button:not([disabled]).slds-is-active:not([data-type="home"]) {
  background-color: rgba(0, 0, 0, 0.07);
}
.THIS .CCEVENTSLCSVNSUMMITS_Event_Filter,
.THIS .CCNEWSLCSVNSUMMITS_News_Filter {
  margin-top: 0;
}
.THIS .slds-container--x-large,
.THIS .slds-container_x-large {
  max-width: 1140px;
}
.THIS .cPeak_UtilityNavigation a svg {
  fill: #fff;
}
.THIS .siteforceServiceBody {
  position: relative;
  z-index: 1;
}
.THIS .siteforceServiceBody .siteforceContentArea {
  background: #fff;
}
.THIS .siteforceServiceBody .cCurtainContainer {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0;
}
.THIS .siteforceServiceBody .cHeaderPanel {
  position: relative;
  width: 100%;
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
  /* 7S replace and use token background-image: url();*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.THIS .siteforceServiceBody .cHeaderOverlay {
  height: inherit;
  background: rgba(0, 0, 0, 0.2);
}
.THIS .siteforceServiceBody .cHeaderLine {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.THIS .siteforceServiceBody .cCenterPanel {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
.THIS .siteforceServiceBody .cCenterPanel:focus {
  outline: none;
}
.THIS .siteforceServiceBody .cFooterPanel .forceCommunityLanguagePicker .languagePickerMenu {
  bottom: 30px;
}
.THIS .siteforceServiceBody .cAltToggleNav {
  display: none;
}
.THIS .siteforceServiceBody .cAltToggleNav .slds-icon {
  fill: rgba(250, 250, 250, 0.9);
}
.THIS .siteforceServiceBody .cTopLeftCon {
  line-height: 3rem;
  min-width: 2rem;
  text-align: center;
}
.THIS .siteforceServiceBody .cNavBarCon {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.THIS .siteforceServiceBody .cBrandingProfile {
  width: 25%;
  text-align: center;
}
.THIS .siteforceServiceBody .cBrandingLogo {
  position: relative;
  display: block;
  width: 80%;
  height: 3rem;
  outline: 0;
  /* 7S Remove and replace with token background-image: url();*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.THIS .siteforceServiceBody .cBrandingLogo:focus {
  box-shadow: 0 0 0 1px #2574a9;
}
.THIS .siteforceServiceBody .cSearchPublisher {
  min-width: 2rem;
}
.THIS .siteforceServiceBody .cSearchPublisher .mobile-search-icon {
  line-height: 3rem;
  color: rgba(250, 250, 250, 0.9);
}
.THIS .siteforceServiceBody .cNotifications {
  line-height: 3rem;
  position: relative;
  text-align: center;
}
.THIS .siteforceServiceBody .cNotifications .unsNotificationsCounter {
  color: rgba(250, 250, 250, 0.9);
}
.THIS .siteforceServiceBody .cProfileCon {
  line-height: 3rem;
  height: 3rem;
}
.THIS .siteforceServiceBody.bodyMenuMobile {
  position: absolute;
  left: 0;
}
@media only screen and (min-width: 48em) {
  .THIS .siteforceServiceBody .cTopLeftCon {
    min-width: 0;
  }
  .THIS .siteforceServiceBody .search-wrapper,
  .THIS .siteforceServiceBody .post-container {
    margin: 0 auto;
  }
  .THIS .siteforceServiceBody .cBrandingProfile {
    width: 15%;
  }
  .THIS .siteforceServiceBody .cProfileCon {
    width: 10%;
  }
  .THIS .siteforceServiceBody .cSearchPublisher {
    z-index: 10;
    overflow: visible;
    width: 70%;
    height: 3rem;
  }
  .THIS .siteforceServiceBody .cNotifications {
    width: 5%;
    text-align: right;
  }
  .THIS .siteforceServiceBody .cHeaderLine {
    padding: 2rem 1rem 4rem 1rem;
  }
}
@media only screen and (min-width: 64.0625em) {
  .THIS .siteforceServiceBody .cNotifications {
    width: 5%;
  }
  .THIS .siteforceServiceBody .cProfileCon {
    width: 15%;
  }
}
@media only screen and (max-width: 47.9375em) {
  .THIS .siteforceServiceBody .cProfileCon {
    min-width: 2rem;
    max-width: 25%;
    margin: 0 0.25rem;
  }
  .THIS .siteforceServiceBody .cBrandingLogo {
    margin-left: 0.5rem;
    background-position-x: left;
  }
  .THIS .siteforceServiceBody .cAltToggleNav {
    display: block;
  }
  .THIS .siteforceServiceBody .forceCommunityGlobalNavigation {
    overflow: hidden;
    height: 0;
    min-height: 0;
  }
  .THIS .siteforceServiceBody.bodyMenuMobile {
    position: fixed;
    top: 0;
    left: 80%;
    overflow: visible;
    width: 100%;
    -webkit-transition: -webkit-transform ease 0.35s, left ease 0.35s, top ease 0.35s, box-shadow ease 0.35s, right ease 0.35s;
    transition: transform ease 0.35s, left ease 0.35s, top ease 0.35s, box-shadow ease 0.35s, right ease 0.35s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
.THIS .siteforceServiceBody .forceRelatedListCardDesktop .card-header .card-header-right .small.oneActionsRibbon a,
.THIS .siteforceServiceBody .forceRelatedListCardDesktop .card-body a.textUnderline.forceOutputLookup,
.THIS .siteforceServiceBody .forceRelatedListCardDesktop .card-footer a {
  color: #2574a9;
}
.THIS .siteforceServiceBody .analyticsEmbeddedChart .loadingPanel {
  background: transparent url(/projRes/analytics-platform/img/spinner_triangle.gif) no-repeat;
}
