/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
/* Common CSS here */
.THIS .stencils {
  padding: token(spacingSmall);
  opacity: 0.5;
  border: 1px solid token(borderColor);
  border-radius: token(borderRadiusMedium);
}
.THIS .stencils .stencil {
  width: 100%;
  border-radius: token(borderRadiusMedium);
  background: token(borderColor);
}
.THIS .stencils .stencil:nth-child(2) {
  opacity: 0.75;
}
.THIS .stencils .stencil:nth-child(3) {
  opacity: 0.5;
}
.THIS .stencils .stencil:nth-child(n + 3) {
  opacity: 0.25;
}
.THIS .stencils .stencil.heading1 {
  max-width: 500px;
  height: 3.6rem;
  margin-bottom: token(spacingSmall);
}
.THIS .stencils .stencil.heading2 {
  max-width: 300px;
  height: 1.35rem;
  margin-bottom: token(spacingSmall);
}
.THIS .stencils .stencil.heading3 {
  max-width: 300px;
  height: 1.25rem;
  margin-bottom: token(spacingSmall);
}
.THIS .stencils .stencil.heading4 {
  max-width: 200px;
  height: 1.125rem;
  margin-bottom: token(spacingSmall);
}
.THIS .stencils .stencil.paragraph {
  height: 0.875rem;
  margin-bottom: token(spacingXSmall);
}
.THIS .slick-dots li button:before,
.THIS .slick-next:before,
.THIS .slick-prev:before {
  color: token(colorTextLink);
}
.THIS .carousel {
  visibility: hidden;
}
.THIS .carousel.slick-initialized {
  visibility: visible;
}
