/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  padding-left: 1rem;
  border-left: 0.25rem solid #eee;
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS blockquote {
  margin: 0 0 1rem 0.9375rem;
  quotes: "“" "”" "‘" "’";
  text-indent: -0.9375rem;
}
.THIS blockquote:before {
  font-family: Arial;
  content: open-quote;
}
.THIS blockquote:after {
  font-family: Arial;
  content: close-quote;
}
.THIS figcaption {
  font-size: 0.9375rem;
}
.THIS figcaption:before {
  content: " - ";
}
.THIS figcaption span {
  display: inline-block;
  margin: 0 0 0.25rem;
}
.THIS figcaption cite {
  display: block;
  margin: 0 0 0 0.5rem;
}
