// Create Font Face Rules here pointing to ../fonts/ in the resource bundle.
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;

    src: local("Open Sans"), local("OpenSans"),
        url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.ttf") format("truetype"),
        url("../fonts/OpenSans-Regular.svg#OpenSansRegular") format("svg");
}
