// To override Community Builder fonts.
// Note that applying this will make the font dropdown in Community Builder useless.
// It is not recommended that you override anything other than the font-family and possibly weight.
@import "font-faces";

html,
body {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300 !important;

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Open Sans", sans-serif !important;
    }
}
