.THIS {
    @import "../_base/components-common"; // variables and mixins
    .content {
        height: 100%;
        margin: 0 auto;
        padding: 0 5%;
    }
    .content .contentBody {
        height: 100%;
    }
    .content .search {
        position: relative;
    }
    .content .search .searchIcon {
        position: absolute;
        z-index: 9999;
        top: 28px;
        left: 12px;
    }
    .content .search .searchIcon svg {
        fill: #333;
    }
    .content .search .big-search-container {
        height: auto;
    }
    .content .search .big-search-container .image-wrapper {
        display: none;
    }
    .content .search .big-search-container .search-wrapper {
        padding: 0;
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .search-input-group
        .search-field {
        font-size: 1rem;
        padding: 0 1rem 0 3rem;
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .search-input-group
        button.slds-button {
        display: none;
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .search-input-group
        ::-webkit-input-placeholder {
        font-size: 1rem;
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .search-input-group
        ::-moz-placeholder {
        font-size: 1rem;
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .search-input-group
        :-ms-input-placeholder {
        font-size: 1rem;
    }
    .content .search .big-search-container .search-wrapper .result-container {
        position: absolute;
        width: 100%;
        /* Hiding the Questions Components in search dropdown */
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .result-container
        .lookup__menu {
        border: 1px solid #ccc;
        border-top: 0;
        background-color: #fff;
    }
    .content
        .search
        .big-search-container
        .search-wrapper
        .result-container
        .continue-post-wrapper {
        display: none;
    }

    // ****************************** CUSTOM ***********************

    .content {
        @media (max-width: @screen-sm-max) {
            padding: 3rem 5% 5rem;
        }

        .search .big-search-container .search-wrapper .search-input-group {
            &::-webkit-input-placeholder,
            .search-field {
                font-size: 1.3rem;
            }
        }

        .search .searchIcon {
            top: 35%;
        }
    }

    // display the search bar on mobile
    .forceCommunitySearchBox .search-field-wrapper {
        @media only screen and (max-width: 47.9375em) {
            display: block;
        }
    }
}
