/**
 * Google_Jigsaw_Lightning - Generates the assets used for Google Jigsaw
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  font-style: italic;
  color: #fff;
  background: token(brandColor);
}
@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
.THIS .slds-p-vertical_large {
  margin-bottom: 0;
}
.THIS a:link,
.THIS a:visited {
  font-weight: bold;
  color: #fff;
}
.THIS a:hover,
.THIS a:active {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .THIS a {
    font-size: 0.85rem;
  }
}
