@import "../_base/components-common";
.THIS {
    position: relative;
    /*
        So, initially hide through opacity and z-index.
        First frame of fade in, bring z-index forward, THEN animate opacity
        When animating out, animate opacity out, then finally bring z-index back
        This way, there aren't invisible tooltips blocking other things on screen!
     */
    // Local variable

    @tooltipOffset: 1.8rem; // the size of the icon which you mouse over to generate a tooltip
    @nubbinSize: 0.5rem;
    @toolTipWidth: 300px;

    .verticalAlign() {
        top: 0;
        bottom: 0;

        margin: auto;
    }

    .horizontalAlign() {
        left: @tooltipOffset / 2;

        margin-left: -@toolTipWidth / 2;
    }

    .peak-tooltip {
        border: 1px solid @borderColor;
        border-radius: 0;
        background: @white;

        .hideShowMe(@animationDuration);

        .slds-popover__body {
            color: @textColor;
        }

        // Change nubbin size
        &:before,
        &:after {
            width: @nubbinSize;
            height: @nubbinSize;
        }
    }

    .slds-popover {
        position: absolute;

        width: @toolTipWidth;

        &.slds-nubbin_right {
            right: @tooltipOffset;

            .verticalAlign();

            // Adjust nubbin
            &:before,
            &:after {
                right: -@nubbinSize / 2;

                margin-top: -@nubbinSize / 2;
            }
        }
        &.slds-nubbin_left {
            margin-left: @nubbinSize;

            .verticalAlign();

            // Adjust nubbin
            &:before,
            &:after {
                left: -@nubbinSize / 2;

                margin-top: -@nubbinSize / 2;
            }
        }
        &.slds-nubbin_top {
            margin-top: @tooltipOffset;

            .horizontalAlign();

            // Adjust nubbin
            &:before,
            &:after {
                left: -@nubbinSize / 2;

                margin-top: @nubbinSize / 2;
                margin-left: 50%;
            }
        }
        &.slds-nubbin_bottom {
            // vertical position determined in JS
            .horizontalAlign();

            // Adjust nubbin
            &:before,
            &:after {
                bottom: -@nubbinSize / 2;
                left: -@nubbinSize / 2;

                margin-left: 50%;
            }
        }
        /*
            TODO - the following have not been styled
         */
        &.slds-nubbin_bottom-left {
            bottom: @tooltipOffset;
            left: -@nubbinSize / 2;
        }
        &.slds-nubbin_top-left {
            top: @tooltipOffset;
            left: -@nubbinSize / 2;
        }
        &.slds-nubbin_bottom-right {
            right: -@nubbinSize / 2;
            bottom: @tooltipOffset;
        }
        &.slds-nubbin_top-right {
            top: @tooltipOffset;
            right: -@nubbinSize / 2;
        }
    }
}
