// ===================
// Variables
// ===================

// Core Colors
@white: #fff;
@black: #000;
@gray: #606060;
@lightGray: #eee;
@darkGray: #333;

// *** Community-specific variables ***
// Outline
@brandOutlineGreen: #5bdebf;
@brandOutlineDarkGreen: #4fb39d;
@brandOutlineBlack: #263238;
//Shield
@brandShieldBlack: rgba(0, 0, 0, 0.5);
@brandShieldLightGray: #f5f5f5;
@brandShieldDarkGray: rgba(0, 0, 0, 0.54);
@brandShieldDarkGreen: #006d63;
// Perspective
@brandPersPurple: #5902d2;
@brandPersDarkPurple: #311b92;
@brandPersBlue: #3d5afe;
@brandPersDarkGray: #737373;
// Intra
@brandIntraBlack: #212121;
@brandIntraPurple: #536dfe;
@brandIntraBlue: #3f51b5;
@brandIntraGray: #bdbdbd;
@brandIntraDarkGray: #757575;
// Trainer
@brandTrainerLightGray: #f5f5f5;
@brandTrainerMedGray: #9f9f9f;
@brandTrainerDarkGray: rgba(0, 0, 0, 0.7);

// Color assignments
@color: token(linkColor);

@hover: token(linkHoverColor);

@altColor: token(labelColor);
@altHover: token(labelColor);

@bgColor: token(brandColor);
@tertiaryColor: token(brandColor);
@tertiaryHover: token(brandHoverColor);

@textColor: token(textColor);
@titleColor: token(labelColor);
@linkColor: token(linkColor);
@inverseTextColor: token(inverseTextColor);
@borderColor: token(borderColor);

// Fonts (font assignments handled in typography.less)
@font: token(fontFamily);
@titleFont: Montserrat, sans-serif; // Can't find this design token listed anywhere!
@altFont: "Source Sans Pro", Lucida Grande, sans-serif;
@fontSize: token(fontSizeMedium);

@h1Size: 3.6rem; // token(fontSizeXxLarge);
@h2Size: 1.35rem; //;  token(fontSizeXLarge);
@h3Size: 1.25rem; //token(fontSizeLarge);
@h4Size: 1.125rem; //token(fontSizeMediumA);
@smallSize: 0.875rem; //token(fontSizeSmall);
@xsmallSize: 0.625rem; //token(fontSizeXSmall);
// @lineHeight: token(lineHeightText);

@titleLineHeight: token(lineHeightHeading);

// Layouts - in SF it's just sm,md,lg, no xs. Use min queries (mobile first)
@screen-sm-max: 47.9375em;
@screen-md-min: 48em;
@screen-lg-min: 64.0625em;
@napili-max: 1140px;

// Other
@borderRadius: token(borderRadiusMedium);
@paddingxSmall: token(spacingXSmall);
@paddingSmall: token(spacingSmall);
@paddingLarge: token(spacingLarge);
@paddingXLarge: token(spacingXLarge);
@gutter: @paddingxSmall;

@animationDuration: 0.25s;
