.THIS {
    @import "../../variables";

    .user-tile {
        border: 1px solid #fff;
        border-radius: 10px;
        background: #efefef;

        img.profile-pic {
            margin: 0 auto;
        }
    }

    .carousel {
        display: none;
    }

    .slick-initialized {
        display: block;
    }

    .slick-prev,
    .slick-next {
        &:before {
            color: @color;
        }
    }
}
